
@media print {
    .logo img{
        width: 120px;
    }
    .logo{
        margin-top: 0;
    }

    h1 {
        font-size: 22px;
    }
    p{
        font-size: 12px;
        margin-bottom: 0;
    }

    .table-area{
        font-size: 12px;
        margin-top: 20px;
    }

    .width300{
        width: 200px!important;
    }

    small{
        margin-top: -50px;
    }

    .margin-bottom150{
        margin-bottom: 120px;
    }

    .margin-bottom110{
        margin-bottom: 100px;
    }

    .budget-list{
        margin-bottom: 120px;
    }
    
    .font-red{
        color: #f12b2b !important;
    }
    
    .print-wrapper{
      margin-top: 0px;
}
        
}