/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2018, 2:01:15 PM
    Author     : E-TECH (Fred)
*/

.sheet_container p {
    margin: 0px;
}
.sheet_container p,
.sheet_container b,
.sheet_container i,
.sheet_container label,
.sheet_container h1,
.sheet_container h2,
.sheet_container h3,
.sheet_container h4,
.sheet_container h5,
.sheet_container h6 {
    font-family: Times New Roman, serif !important;
    margin: 0px;
}
.sheet_container input[type=text] {
    border: 1px solid #E8E8E8;
    font-size: 12px;
}
.solid_bottom {
    border-bottom: 1px solid black !important;
}
.pos_bot {
    position: absolute;
    bottom: 5px;
}
fr {
    font-family: Times New Roman, serif !important;
    font-size: 10px;
    line-height: 14px;
    margin: 0px;
    padding: 0px;
}
.sheet_container {
    width: 1200px !important;
    margin: 0 auto;
}
.portrait {
    width: 100%;
}
.wind_dir {
    height: auto;
    padding: 10px;
    width: 176px;
    padding-bottom: 0px;
}
.wind_dir img {
    height: auto;
    width: 75px;
    margin-left: 35px;
}
table {
    display: inline-block;
}
table td {
    padding: 2px;
    vertical-align: bottom;
}
table th {
    padding: 2px;
    text-align: center;
    font-weight: 400;
}
.main_title, .sub_title {
    display: block !important;
}
.main_title {
    font-size: 4rem;
    line-height: 4rem;
}
.sub_title {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1em;
}
.full_x {
    width: 100%;
}
.solid_border {
    border: 2px solid black;
    padding: 10px;
}
.uline {
    border-bottom: 1px solid black;
}
.block {
    width: 100%;
    margin-top: 0px;
}
.portrait .main_title {
    font-size: 2em;
    line-height: 1em;
}
.b_all {
    border: 1px solid black;
}
.b_top {
    border-top: 1px solid black;
}
.b_right {
    border-right: 1px solid black;
}
.b_bottom {
    border-bottom: 1px solid black;
}
.b_left {
    border-left: 1px solid black;
}
.b_x {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.p_all_5 {
  padding: 5px;  
}
.col_wht {
        border-top: 1px solid #fff;
}
.scroll_x {
    overflow-x: auto;
}
.hid {
    visibility: hidden;
}
fl {
    font-size: 10px;
}
#slitting_val,
#deliverynum_val {
    width: 100px;
    padding-left: 3px;
    display: inline-block;
    overflow: hidden;
}
.checkbox_con {
    display: inline;
    position: absolute;
    margin: -2px;
    padding-left: 10px;
}
    .solid_bottom, .h30 {
        height: 30px;
    }
@media print{
    /*    @page 
        {
            size: landscape;
        }*/
    /* ISO Paper Size */
    .sheet_container {
        display: block;
    }

    .checkbox_con {
        height: 15px;
        width: 15px;
        border: 1px solid black;
        margin: 0px;
        bottom: 8px;
        margin-left: 5px;
        
    }
    /*     Size in mm     
        @page {
            size: 100mm 200mm landscape;
        }
    
         Size in inches     
        @page {
            size: 4in 6in landscape;
        }*/
}