#payroll_calendar {

}
#payroll_calendar h1 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: left;
}
#payroll_calendar .theme-selector {
    display: none;
}
#payroll_calendar #filter_top {
    margin: 10px 0px;
    width: 550px;
}
#payroll_calendar #add_record {
    width: 500px;
    margin: 0px 0px;
    float: left;
}
#payroll_calendar #add_record .opt{
    margin-top: 8px;
    float: left;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}
#payroll_calendar #add_record label {
    margin-top: 3px;
}
#filter_top #btn_filter {
    background: #3c8dbc;
    margin-top: 16px;
}
#payroll_calendar #calendar {
    /*margin: 0 auto;*/
    margin-top: 15px;
    width: 100%;
    background: #fff;
}
#stat_summary {
    padding: 20px;
    width: 800px;
}
.trans_bg {
    background: transparent;
}
.trans_bg:hover {
    background: #DCDCDC;
}