/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2017, 3:28:49 PM
    Author     : E-TECH (Fred)
*/


/* Fred changes */

.fix_position {
    padding-right: 17px !important;
}
@media (max-width: 1329px) {

    .custom-modal .table-pager .pg-table {
        min-width: 600px;
    }
    /* Disabled line 3600 style.css */

}
.label {
    padding: 0.2em .6em .2em;
}
/* Popover showing under modal elements */
.popover {
    position: fixed;
}
* {
    font-family: 'Open Sans', sans-serif;
}
.display_col{
    display:none;
}
.btn_details_leave {
    margin-left: -17px;
    padding: 5px 10px;
}
.modal_payroll_attendance_date {
    max-width: 115px;
}

.cd-side-nav {
    z-index: 991;
}
.cd-main-header {
    z-index: 992;
}
.modal {
    z-index: 993;
}
.tooltip {
    z-index: 995;
}

tr.group {
    background-color: #aac6dc !important;
    color: #fff !important;
}
tr.group:hover {
    background-color: #3f76a3 !important;
}
tr.group>td {
    border-top: 5px solid white !important;
    border-bottom: thin solid #c8c8c8 !important;
}
/*.dataTables_wrapper {
    overflow-x: auto;
}*/
.mode_select {
    margin-top: 50px;
}
.mode_select_label {
    padding-left: 20px;
    color: gray;
}
#mode_select {
    border-radius: 0px;
}
.large_icon > img {
    width: 35px;
    height: 35px !important;
    max-width: 35px !important;
}
.grayscale {
    -webkit-filter: grayscale(75%);
    filter: grayscale(75%);
    width: 50px;
}
.grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.def_blue {
    color: #3c8dbc;
}
.cus_pos_1 {
    text-align: right;
    margin-top: 70px;
    margin-bottom: 20px;
}
.bg_white {
    background: #fff;
}
.no_pad_bot {
    padding-bottom: 0px;
}

#edit_record td,
#add_record td {
    vertical-align: top;
}
#edit_record td h6,
#add_record td h6 {
    padding: 5px;
    margin: 0px;
    background: steelblue;
    color: white;
    display: inline-block;
    font-weight: bold;
}
#add_new_schedule label {
    margin-top: 8px;
}
.fred_table td {
    padding: 6px 12px;
    border: thin solid #ededed;
    width: 100%;
}
.no_mar_t {
    margin-top: 0px;
}
.no_mar_r {
    margin-right: 0px;
}
.no_mar_b {
    margin-bottom: 0px;
}
.no_mar_l {
    margin-left: 0px;
}
.no_mar_y {
    margin-top: 0px;
    margin-bottom: 0px;
}
.no_mar_x {
    margin-right: 0px;
    margin-left: 0px;
}

.no_pad_t {
    padding-top: 0px;
}
.no_pad_r {
    padding-right: 0px;
}
.no_pad_b {
    padding-bottom: 0px;
}
.no_pad_l {
    padding-left: 0px;
}
.no_pad_y {
    padding-top: 0px;
    padding-bottom: 0px;
}
.no_pad_x {
    padding-right: 0px;
    padding-left: 0px;
}

#shift_table b {
    color: brown;
}
#edit_adjustment td {
    padding: 5px;
    vertical-align: top;
}


.mt0 {
    margin-top: 0px;
}
.mr0 {
    margin-right: 0px;
}
.mb0 {
    margin-bottom: 0px;
}
.ml0 {
    margin-left: 0px;
}
.mr2 {
    margin-right: 2px;
}
.mt10 {
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.ml10 {
    margin-left: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt25 {
    margin-top: 25px;
}
.mt27 {
    margin-top: 27px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mr20 {
    margin-right: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml20 {
    margin-left: 20px;
}
.mx0 {
    margin-right: 0px;
    margin-left: 0px;
}
.my0 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.pt0 {
    padding-top: 0px;
}
.pr0 {
    padding-right: 0px;
}
.pb0 {
    padding-bottom: 0px;
}
.px5 {
    padding-left: 5px;
    padding-right: 5px;
}
.pl0 {
    padding-left: 0px;
}
.pt10 {
    padding-top: 10px;
}
.pr10 {
    padding-right: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.pl10 {
    padding-left: 10px;
}
.pt20 {
    padding-top: 20px;
}
.pr20 {
    padding-right: 20px;
}
.pb20 {
    padding-bottom: 20px;
}
.pl20 {
    padding-left: 20px;
}
.px0 {
    padding-right: 0px;
    padding-left: 0px;
}
.py0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.w25 {
    width: 25px;
}
.w50 {
    width: 50px;
}
.w75 {
    width: 75px;
}
.w100 {
    width: 100px;
}
.w150 {
    width: 150px;
}
.w200 {
    width: 200px;
}
.w250 {
    width: 250px;
}
.w300 {
    width: 300px !important;
}
.w350 {
    width: 350px;
}
.w370 {
    width: 370px;
}
.w400 {
    width: 400px;
}
.tranoff {
    text-transform: none !important;
}
td {
    vertical-align: top;
}
.va_b {
    vertical-align: bottom;
}
/*.box-body .table-pager .pg-table {
    width: 100% !important;
    min-width: 0px !important;
}*/
/*.box-body .table-pager {
    overflow-x: hidden;
}*/
.process p {
    margin: 0px;
}
.process span {
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.rm {
    display: none;
}
g {
    color: red;
}
.modal-body .pull-right>.multiselect-native-select>.multiselect-native-select>.btn-group {
    display: none;
}
/*.modal-body .pull-right>.multiselect-native-select>.multiselect-native-select>.multiselect-native-select>.btn-group {
    display: none;
}*/
/*.multiselect-native-select>.multiselect-native-select>.btn-group {
    display: none;
}*/
.in_block {
    display: inline-block;
}
.block {
    display: block;
}
.progress {
    border: 1px solid lightgray;
}
.progress_text {
    position: absolute;
    left: 40%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    margin-top: 1px;
    background-color: rgba(125, 125, 125, 0.7);
    color: #fff;
}
.w_100 {
    width: 100% !important;
}
.w_90 {
    width: 90% !important;
}
.w_75 {
    width: 75% !important;
}
.w_50 {
    width: 50% !important;
}
.w_25 {
    width: 25% !important;
}
.print_container {
    display: none;
}
.theme-selector {
    display: none;
}
.f_left {
    text-align: left !important;
}
.f_center {
    text-align: center !important;
}
.f_right {
    text-align: right !important;
}
.cd-side-nav > ul > li > a i {
    font-size: 2em;
}
.modal-full {
    width: 98%;
    margin-left: 1% !important;
    margin-right: 1% !important;
}
.morris-hover {
    display: none !important;
}
@media print {
    .print_container {
        width: 100%;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;               
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666666666666%;
    }

    .col-sm-10 {
        width: 83.33333333333334%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666666666666%;
    }

    .col-sm-7 {
        width: 58.333333333333336%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666666666667%;
    }

    .col-sm-4 {
        width: 33.33333333333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.666666666666664%;
    }

    .col-sm-1 {
        width: 8.333333333333332%;
    }            
}


@media print {
    h1 {
        font-size: 24px;
    }
    * {
        margin: 0;
        padding: 0;
    }
    .page-content, .wrapper {
        display: none;
    }
    .print_this {
        display: block;
    }
    td {
        background: white !important;
        
    }
    divb {
        border: 1px solid black;
        padding: 2px;
    }
    /*    .ptable div {
            height: 18pt;
        }*/
/*    .container-fluid .row div  {
        border: 1px solid black !important;
    }
    .container-fluid .text-center .row div   {
        padding: 0;
    }
    .container-fluid .row div div {
        border: 1px solid black !important;
    }
    #print_approved_check .container-fluid .row div  {
        border: 0px !important;
    }
    #print_approved_check .container-fluid .row .head div  {
        border-top: 1px solid black !important;
        border-bottom: 2px solid black !important;
    }
    #print_approved_check .container-fluid .row div div {
        border: 1px solid black !important;
        border-top: 0px !important;
    }
    #print_approved_check .container-fluid .row div div .clean {
        border-right: 0px !important;

    }
    #print_approved_check .container-fluid .row div div .clean2 {
        border-left: 0px !important;
    }


    #report_table .container-fluid .row div  {
        border: 0px !important;
    }
    #report_table .container-fluid .row .regular div  {
        border: 1px solid black !important;
    }
    #report_table .container-fluid .row .head div  {
        border-top: 1px solid black !important;
        border-bottom: 2px solid black !important;
    }
    #report_table .container-fluid .row div div {
        border: 1px solid black !important;
        border-top: 0px !important;
    }
    #report_table .container-fluid .row div div .clean {
        border-right: 1px !important;

    }
    #report_table .container-fluid .row div div .clean2 {
        border-left: 0px !important;
    }*/

}
.cke_dialog, .cke_panel {
    z-index: 9999994 !important;
}

.cke_dialog_body {
    border: 2px solid gray !important;
}
.cke_button__maximize {
    display: none !important;
}
.hr_5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
