i.subicon{
    position:absolute;
    background-color:#fff;
    border:1px solid #444;
    border-radius:50%;
    font-size:7px;
    font-weight:700;
    text-align: center;
    padding:2px 4px;
    bottom:6px;
    left:19px;
}
.skin-blue .tabs-box>.nav-tabs>li.active>a i.subicon, .skin-blue .tabs-box>.nav-tabs>li.active:hover> i.subicon{
    border-color:#3c8dbc;
}
.tabs-box>.nav-tabs>li>a:hover i.subicon{
    border-color:#999;
}
