body,html{
    height: 100%;
}
body{
    font-weight:400;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ecf0f5;
}
a{
    transition: all 0.2s ease-in-out;
}
a:hover, a:focus, a:active{
    text-decoration: none !important;
    outline:0;
}
img-circle{
    border-radius:50%;
}
.hide{
    display:none;
}
.wrapper{
    min-height: 100%;
    position: static;
    overflow: hidden;
}
.cd-top-nav .has-children.account ul{
	min-width:141px;
	max-width:141px;
}
.no-padding-left{
    padding-left:0 !important;
}
.toggle-details{
    display:none;
}
.no-marginbot{
    margin-bottom:0;
}
.no-padbottom{
    padding-bottom:0 !important;
}
#_mask{
    background-color:#fff !important;
}
.clearable{
  background: #fff url('../images/clear.png') no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;     /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */
.no-padding{
    padding:0;
}
.no-padright{
    padding-right:0;
}
.normaltext{
    text-transform: none !important;
}
.inline{
    display:inline-block;
}
.lowercase{
    text-transform: lowercase !important;
}
.noborder-r{
    border-right:1px solid transparent !important;
}
.noborder-b{
    border-bottom:0 !important;
}
.no-bg{
    background-color:transparent !important;
}
body.modal-open{
    padding-right:0 !important;
}
.formtop{
    padding-bottom:15px;
}
.wrapper:before, .wrapper:after {
    content: " ";
    display: table;
}
h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
}
.table-height{
    padding-bottom:20px;
}
body::-webkit-scrollbar {
    width: 9px;
} 
body::-webkit-scrollbar-track {
    border-radius: 0;
}
body::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #9b9b9b;
}
.popover div::-webkit-scrollbar {
    width: 3px;
} 
.popover div::-webkit-scrollbar-track {
    border-radius: 0;
}
.popover div::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #9b9b9b;
}

/*********************************
**********Side Navigation*********
*********************************/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* -------------------------------- 

Main Page Content

-------------------------------- */
.cd-main-content .content-wrapper {
  padding: 100px 5px;
}
.cd-main-content .content-wrapper h1 {
  text-align: center;
  padding: 3em 0;
  font-size: 2rem;
}
.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}

.depositbtn{
    height:17px;
}

@media only screen and (min-width: 768px) {
  .cd-main-content .content-wrapper {
    margin-left: 110px;
    padding-top: 55px;
  }
  .cd-main-content .content-wrapper h1 {
    padding: 4em 0;
    font-size: 3.2rem;
    font-weight: 300;
  }
  .cd-main-content::before {
    content: 'tablet';
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content .content-wrapper {
    margin-left: 110px;
  }
  .cd-main-content::before {
    content: 'desktop';
  }
}

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background: #3c8dbc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-main-header .toggle-side{
    background-color:transparent;
    color:#fff;
    box-shadow: none;
    border:0;
    font-size:1.3em;
    margin: 13px 0 0 4px;
}
.cd-main-header .toggle-side:focus{
    outline:0;
}
.cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}
@media only screen and (min-width: 768px) {
  .cd-main-header {
    position: fixed;
    height: 50px;
  }
}
.cd-logo {
  float: left;
  display: block;
  margin: 11px 0 0 5%;
  width:110px;
  height:50px;
}
.cd-logo h2{
    color:#fff;
    display: -webkit-box;
    display:block;
    text-transform: capitalize;
    margin-top:0;
    max-width:100px;
    height:39px;
    font-size:1.3em;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cd-logo img {
    display: block;
    height:40px;
    margin:0 auto;
    margin-top:5px;
}
@media only screen and (min-width: 768px) {
  .cd-logo {
    margin: 0;
  }
}
.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 0.9em;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #ffffff;
}
.cd-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2px;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.cd-nav-trigger span::before {
  /* menu icon top line */
  top: -6px;
}
.cd-nav-trigger span::after {
  /* menu icon bottom line */
  top: 6px;
}
.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: white;
}
.cd-nav-trigger.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}
@media only screen and (min-width: 768px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-search {
  position: relative;
  margin: 1.2em 5% 0.6em;
}
.cd-search.is-hidden {
  opacity: 0;
}
.cd-search::before {
  /* lens icon */
  content: '';
  position: absolute;
  left: 8px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  background: url(../img/cd-search.svg) no-repeat 0 0;
}
.cd-search input {
  padding-left: 32px;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: .25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-search input:focus {
  outline: none;
}
@media only screen and (min-width: 768px) {
  .cd-search {
    float: left;
    display: inline-block;
    width: 250px;
    height: 100%;
    margin: 0 0 0 2.5em;
  }
  .cd-search.is-hidden {
    /* reset style */
    opacity: 1;
  }
  .cd-search::before {
    background-position: 0 -16px;
    left: 1em;
  }
  .cd-search form, .cd-search input {
    height: 100%;
    width: 100%;
  }
  .cd-search input {
    border: none;
    padding-left: 2.6em;
    border-radius: 0;
    background-color: #3e454c;
    border-left: 1px solid #51575d;
    color: #ffffff;
  }
  .cd-search input::-webkit-input-placeholder {
    color: #777c81;
  }
  .cd-search input::-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-moz-placeholder {
    color: #777c81;
  }
  .cd-search input:-ms-input-placeholder {
    color: #777c81;
  }
}

/* -------------------------------- 

Top Navigation

-------------------------------- */
.cd-nav {
  /* top nav - not visible on mobile devices */
  display: none;
}
.cd-top-nav span.label{
    position: absolute;
    top: 10px;
    right: 5px;
    text-align: center;
    font-size: 12px;
    padding: 3px 3px;
    line-height: .9;
    border-radius: 100%;
}
.cd-top-nav > li a{
    position: relative;
}
.cd-top-nav .has-children ul li.userheader{
    padding:10px;
    height:150px;
    text-align: center;
}
.cd-top-nav .has-children.language ul li{
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    font-size: 14px;
} 
.cd-top-nav .has-children.language{
    background-color:#0f993b !important;
}
.cd-top-nav .has-children.language ul li:first-child a span.pull-left{
    padding-top:7px;
}
.cd-top-nav .has-children.notif{
    background-color:#dbab3d  !important;
}
.cd-top-nav .has-children.notif ul li{
    padding: 5px 10px;
    border-bottom: 1px solid #E4ECF3;
}
.cd-top-nav .has-children.notif ul li:hover{
    background-color:#f7f7ee;
}
.cd-top-nav .has-children.notif ul li.header{
    background-color:#f6f7ec;
    border-bottom:1px solid #e5dcbc;  
}
.cd-top-nav .has-children.notif ul li.header a i{
    float:right;
    margin-top:2px;
}
.cd-top-nav .has-children.notif ul li.header a{
    font-size:0.95em;
    color:#a18c07;
}
.cd-top-nav .has-children.notif ul li.notiflist{
    padding:0;
}
.cd-top-nav .has-children.notif ul li.notiflist ul{
    max-height:300px;
    overflow-y: auto;
}
.cd-top-nav .has-children.notif ul li.notiflist ul::-webkit-scrollbar {
    width: 3px;
}
.cd-top-nav .has-children.notif ul li.notiflist ul li:last-child .notifbox{
    border-bottom:0;
}
.cd-top-nav .has-children.notif ul li.notiflist ul::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #9b9b9b;
}
.cd-top-nav .has-children.notif ul li.notiflist ul::-webkit-scrollbar-track {
    border-radius: 0;
}
.cd-top-nav .has-children.notif ul{
    background-color:#fff !important;
}
.cd-top-nav .has-children.language ul li a span{
    color:#444;
    font-size:0.9em;
}
.cd-top-nav .has-children.language ul li a{
    display:block;
    padding:3px 0 !important;
}
.cd-top-nav .has-children.language ul li{
    border-bottom:1px solid #E4ECF3;
}
.cd-top-nav .has-children.language ul li:hover{
    background-color:#F4F9FC;
}
.cd-top-nav .has-children.language ul li:last-child{
    border-bottom:0;
}
.cd-top-nav .has-children.language ul li a span img{
    border-radius: 0 !important;
    position: relative;
    left:auto;
    height:auto;
    transform: none;
    -webkit-transform: none;
    -moz-transform:none;
    -ms-transform: none;
    -o-transform: none;
}
.cd-top-nav .has-children.notif ul li .notifbox a:before, .cd-top-nav .has-children.notif ul li .notifbox a:after {
    content: " ";
    display: table;
}
.cd-top-nav .has-children.notif ul li .notifbox .notif-icon{
    padding:3px;
    width:28px;
    height:26px;
    text-align: center;
    margin-top:0;
    margin-right: 10px;   
}
.cd-top-nav .has-children.notif ul li .notifbox .notif-icon i{
    color:#fff;
    font-size:1em;   
}
.cd-top-nav .has-children.notif ul li .notifbox .details{
    position: relative;
}
.cd-top-nav .has-children.notif ul li .notifbox span.label-badge{
    float:right;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    line-height: .9;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0px;
}
.cd-top-nav .has-children.notif ul li .notifbox .notif-icon.comment{
    background-color:#dbab3d;
}
.cd-top-nav .has-children.notif ul li .notifbox .notif-icon.user{
    background-color:#3c8dbc;
}
.cd-top-nav .has-children.notif ul li .notifbox .notif-icon.cart{
    background-color:#00a65a;
}
.cd-top-nav .has-children.notif ul li a{
    padding-left:0 !important;
}
.cd-top-nav .has-children.notif ul li img{
    height:40px;
    width:40px;
    position:relative;
    left:0;
    top:5px;
    margin-right:10px;
}
.cd-top-nav .has-children.notif ul li a h4 {
    padding: 0;
    margin: 0 0 3px 0;
    color: #444;
    font-size: 13px;
    position: relative;
    text-transform: capitalize;
}
.cd-top-nav .has-children.notif ul li ul{
    display: block;
}
.cd-top-nav .has-children.notif ul li a span.time{
    color:#999;
    font-size:0.76em;
    text-transform: none;
}
.cd-top-nav .has-children.notif ul li .notifbox .row {
    margin-left: 0;
    margin-right: 0;
}
.cd-top-nav .has-children.notif ul li a p{
    color:#888888;
    font-size:11.5px;
    text-transform: none;
    display: block;
    display: -webkit-box;
    height: 33px;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cd-top-nav .has-children.language ul{
    background-color:#fff !important;
}

.cd-top-nav .has-children ul li.userfooter{
    background: #fff;
    padding:10px;
	
}
.cd-top-nav .has-children ul li.userfooter button{
    float:none;
}
.cd-top-nav .has-children ul li.userfooter a{
    padding:0 !important;
    display:block;
}
.cd-top-nav .has-children ul li.userheader p{
    font-size:1.15em;
    margin-top:10px;
    text-transform: capitalize;
}
.cd-top-nav .has-children ul li.userheader img{
    height: 90px;
    width: 90px;
    left:auto;
    transform:none;
    top:0;
    position: relative;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
    margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .cd-nav {
    display: block;
    float: right;
    height: 100%;
  }
}

.cd-top-nav > li > a::before {
  /* reset style */
  display: none;
}
.cd-top-nav > li a {
  padding: 1em 5% !important;
}
.cd-top-nav .has-children > a{
    text-transform: capitalize;
}
.cd-top-nav img {
  /* avatar image */
  position: absolute;
  left: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-top-nav {
    height: 100%;
  }
  .cd-top-nav a {
    display: block;
    font-size: 1.4rem;
    color: #ffffff;
  }
  .cd-top-nav > li {
    display: inline-block;
    margin-right: -2px;
    height: 100%;
  }
  .cd-top-nav > li:last-of-type {
    margin-right: 0;
  }
  .cd-top-nav > li a {
    padding: 1em .6em !important;
  }
  .cd-top-nav img {
    display: block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-top-nav li:not(.has-children) a:hover {
    color: #1784c7;
  }
}

/* -------------------------------- 

Sidebar

-------------------------------- */
.cd-side-nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: 45px 0 0;
  background-color: #2c3136;
  visibility: hidden;
  opacity: 0;
  max-height: 100vh;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
  max-height: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-side-nav > ul > li > a{
    border-left:3px solid transparent;
    transition:all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;;
    -o-transition: all 0.2s ease-in-out;
}
.has-children ul li.active a{
    color:#fff;
    background-color:transparent;
    box-shadow: none;
}
.cd-side-nav > ul {
  padding: 0.6em 0;
}
.cd-side-nav > ul:last-of-type {
  padding-bottom: 0;
}
.cd-side-nav > ul > li > a i{
    font-size:1.2em;
}
.cd-side-nav .cd-label, .cd-side-nav a {
  display: block;
  padding: 1em 5%;
}
.cd-side-nav .cd-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #646a6f;
  font-size: 1rem;
  letter-spacing: .1em;
}
.cd-side-nav a {
  position: relative;
  color: #ffffff;
  font-size: 1.4rem;
}
.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
  border-bottom: none;
}
.cd-side-nav > ul > li > a {
/*  padding-left: calc(5% + 24px);*/
  border-bottom: 1px solid #373d44;
  text-transform: capitalize;
  font-size: 1.03em;
}
.cd-side-nav > ul > li.overview > a::before {
  background-position: -64px 0;
}
.cd-side-nav > ul > li.notifications > a::before {
  background-position: -80px 0;
}
.cd-side-nav > ul > li.comments > a::before {
  background-position: -48px 0;
}
.cd-side-nav > ul > li.bookmarks > a::before {
  background-position: -32px 0;
}
.cd-side-nav > ul > li.images > a::before {
  background-position: 0 0;
}
.cd-side-nav > ul > li.users > a::before {
  background-position: -16px 0;
}
.cd-side-nav .count {
  /* notification badge */
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: calc(5% + 16px + 0.4em);
  padding: 0.2em 0.4em;
  background-color: #ff7e66;
  border-radius: .25em;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
.cd-side-nav .action-btn a {
  display: block;
  margin: 0 5%;
  padding: 1em 0;
  background-color: #1784c7;
  border-radius: .25em;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.cd-side-nav > ul > li > a >span{
    display:block;
    padding-top:5px;
}
.cd-side-nav > ul > li > a > img{
    height:25px;
    max-width:30px;
    margin:0 auto;
    -webkit-filter: opacity(60%);
    filter: opacity(60%);
}
.cd-top-nav li.language a i,.cd-top-nav li.notif a i{
    font-size:1.3em;
}
.cd-top-nav li.notif ul li .notifbox ul li a img{
    position: relative;
}
.cd-top-nav li.language a, .cd-top-nav li.notif a{
    cursor:pointer;
    display:block;
    padding:5px 0 !important;
}
.cd-side-nav .action-btn a::before {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cd-side-nav {
/*    position: relative;*/
    float: left;
    top: 0;
    width: 110px;
    min-height: 100%;
    padding-top: 50px;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;
  }
  .cd-side-nav.nav-is-visible {
    box-shadow: none;
  }
  .cd-side-nav.is-fixed {
    position: fixed;
  }
  .cd-side-nav > ul {
    /* reset style */
    padding: 0;
  }
  .cd-side-nav .cd-label {
    /* remove labels on minified version of the sidebar */
    display: none;
  }
  .cd-side-nav a {
    font-size: 1.2rem;
    text-align: center;
  }
  .cd-side-nav > ul > li > a {
/*    padding: calc(2.2em + 24px) 0 2.4em;*/
  }
  .cd-side-nav > ul > li > a::before {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 2.4em;
  }
  .cd-side-nav .active > a {
    /* current page */
    box-shadow: none;
    color:#fff !important;
    background-color: #10232a;
  }
  .cd-side-nav .active > a > img{
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
  }
  .cd-side-nav .action-btn a {
    margin: 1em 10% 0;
  }
  .cd-side-nav .count {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 0;
    top: 2em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: calc(50% + 5px);
    right: auto;
    color: transparent;
  }
}
@media only screen and (min-width: 1170px) {
 
  .cd-side-nav > ul {
    padding: 0;
  }
  .cd-side-nav > ul > li:not(.action-btn):hover > a {
    background-color: #33383e;
  }
  .cd-side-nav > ul > li > a {
    padding: 1em 1.5em;
    text-align: center;
    border-bottom: none;
  }
  .cd-side-nav > ul > li > a::before {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 18px;
  }
  .cd-side-nav .cd-label {
    display: block;
    padding: 1em 18px;
  }
  .cd-side-nav .action-btn {
    text-align: left;
  }
  .cd-side-nav .action-btn a {
    margin: 0 18px;
  }
  .no-touch .cd-side-nav .action-btn a:hover {
    background-color: #1a93de;
  }
  .cd-side-nav .count {
    /* reset style */
    color: #ffffff;
    height: auto;
    width: auto;
    border-radius: .25em;
    padding: .2em .4em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    left: auto;
    box-shadow: none;
  }
}

.has-children ul {
  position: relative;
  width: 100%;
  display: none;
  background-color: #1c1f22;
}
.has-children ul a{
    text-transform: capitalize;
    font-size:1em;
    display:inline;
}
.has-children ul .catbox{
    padding:0 2em 1.5em;
    max-height:400px;
    overflow-y:auto;
}
.has-children ul .catbox::-webkit-scrollbar{
    width:6px;
}
.has-children ul .catbox::-webkit-scrollbar-track {
    border-radius: 0;
}
.has-children ul li button{
    float:right;
    display:inline;
}
.has-children ul li{
    display:block;
    padding-bottom: 10px;
}
.has-children ul h3{
    font-size:1.03em;
    text-transform: capitalize;
    padding-bottom:3px;
}
.has-children > a::after {
    /* arrow icon */
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  right: 21px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../images/cd-arrow.svg);
}
.has-children.selected > ul {
  display: block;
}
.has-children.selected > a::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .has-children {
    position: relative;
  }
  .has-children ul {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 270px;
    padding: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  .has-children > ul.info-menu {
    min-width: 600px;
  }
  .has-children > ul.report-menu {
    min-width: 1000px;
  }
  .has-children > ul.info-menu .catbox{
    padding: 0 0.3em 1.5em;
  }
  .has-children ul a {
    text-align: left;
    border: none;
    padding: 1em;
  }
  .no-touch .has-children ul a:hover {
    color: #1784c7;
  }
  .has-children > a::after {
    display: none;
  }
  .cd-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
    background-color: #33383e;
  }
  .cd-top-nav .has-children {
    position: relative;
    background-color: #2c3136;
  }
  .cd-top-nav .has-children > a {
    height: 100%;
    padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
    line-height: 55px;
  }
  .cd-top-nav .has-children.language > a, .cd-top-nav .has-children.notif > a{
      padding:0 .9em !important;
  }
  .cd-top-nav .has-children ul {
    background-color: #1c1f22;
    width: 240px;
    top: 100%;
    right: 0;
    left: auto;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  .cd-top-nav .has-children ul a {
    padding-left: 18px !important;
  }
}
@media only screen and (min-width: 1170px) {
  .has-children ul a {
    padding-left: 0;
  }
  .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
    position: relative;
    display: block;
    /* reset style */
    left: 0;
    box-shadow: none;
  }
  .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
/***************************
****************************/
/***Content***/
.content-wrapper{
    background-color: #ecf0f5;
/*    margin-left: 120px;*/
    min-height:100vh;
}
form label.memo{
    text-align: left !important;
    text-transform: none;
}
.content-wrapper1{
    background-color: #ecf0f5;
}
.content-wrapper2{
    background-color: #ecf0f5;
    padding-left:50px;
    padding-right: 50px;
}
.table tbody td ul{
    list-style: none;
    padding-left: 0;
}
.tablebox{
    margin-bottom:10px;
}
.table .notif-icon{
    padding:3px;
    width:28px;
    height:26px;
    text-align: center;   
}
.table .notif-icon i{
    color:#fff;
    font-size:1em;   
}
.table .notif-icon.user {
    background-color: #3c8dbc;
}
.table .notif-icon.comment {
    background-color: #dbab3d;
}
.table .notif-icon.cart {
    background-color: #00a65a;
}
.salespager .setting .form-group .btn.btn-width{
    width:40px;
}
.form-top{
    padding:10px 0;
}
.tabs-box span.label-badge {
    position: absolute;
    top: 0;
    right: 0px;
    text-align: center;
    font-size: 9px;
    padding: 3px 4px;
    line-height: .9;
    color: #fff;
    border-radius: 10px;
}
.summarytable thead th{
    background-color:#dcecff;
}
.summarytable tbody td{
    color:#dd4b39;
    font-weight:600;
    letter-spacing: 0.04em;
    font-size:14px;
}
.setting-op {
    background-color:#d2d6de;
    margin-bottom:20px;
    padding:15px 15px 0;
}
.box-body h4.subhead{
    font-size:14.5px;
    font-weight:700;
}
.box-body .summary1 .table-form{
    margin-bottom:0;
    margin-top:10px;
}
.box-body .summary1 table td{
    font-size:1.15em;
}
.table-form td span.red{
    color:#dd4b39;
}
.salespager .setting{
    width:100%;
}
.salespager .setting .form-group{
  padding-top:10px;
  margin-bottom:5px;
}
.salespager .setting .form-horizontal .control-label{
    padding-top:4px;
}
.salespager .setting .btnset{
    padding-left:10px;
}
.salespager .setting .form-horizontal .btn{
    padding:3px 7px;
    margin-right:0;
}
.salespager .setting .form-horizontal .btn.btn-info{
    background-color: #00c0ef;
    border-color: #00acd6;
}
.salespager .setting .form-horizontal .btn.btn-success{
    background-color: #00a65a;
    border-color: #008d4c;
}
.salespager .setting .form-horizontal .btn.btn-info:hover, .salespager .setting .form-horizontal .btn.btn-info:active, .salespager .setting .form-horizontal .btn.btn-info:focus{
    background-color: #00acd6;
    border-color: #007B98;
}
.salespager .setting .form-horizontal .btn.btn-success:hover, .salespager .setting .form-horizontal .btn.btn-success:active, .salespager .setting .form-horizontal .btn.btn-success:focus{
    background-color: #008d4c;
    border-color: #00733F;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 3%;
    right: 1%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/arrow-up.png) no-repeat 0px 0px;
    z-index: 999;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
.container.fullwidth{
    padding-left:0;
    padding-right: 0;
}
.content-header{
    position: relative;
    padding: 15px 15px 0 15px;
    background:transparent;
}
.content-header h1{
    margin:0;
    font-size:24px;
    text-transform: capitalize;
}
.content{
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.box{
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header{
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
}
.table-top{
    padding:5px 0 15px;
}
.table-top .searchbar{
    max-width:255px;
}
.table-top .selected a{
    color:#d41216;
    text-decoration: underline;
}
.table-top .selecttxt{
    margin-bottom:0;
    font-size:1.2em;
    margin-right:10px;
    padding-top:3px;
}
.table-top .selected a:hover, .table-top .selected:hover{
    text-decoration: underline;
}
.table-top .refresh{
    margin-left:10px;
}
.box-header .box-title{
    font-size: 18px;
    margin: 0;
    line-height: 1;
    text-transform: capitalize;
}
.box-body{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin:10px;
    padding-bottom:10px;
}
.box-body .summary table td{
    font-size:1.15em;
}
.box-body .btn-bottom{
    float:right;
    overflow:hidden;
    padding:20px 0 15px;
}
.box-body > .table{
    margin-bottom: 0;
    text-transform: capitalize;
}
.box-body .table thead th{
    vertical-align: middle;
    color:#444;
    text-align: center;
}
.box-body .table tbody td{
    vertical-align: middle;  
     border-left-width: 0;
    border-bottom-width: 0;
    /*text-transform: capitalize;*/
}
.box-body .table tbody td:last-child{
    border-right-width: 0;
}
ul.inline, ul.block{
    list-style: none;
    padding-left:0;
    margin-bottom: 0;
}
ul.inline li{
    display: inline-block;
    padding-bottom:8px;
}
span.code{
    text-transform: lowercase;
}
code{
    vertical-align: top;
    text-transform: lowercase;
}
span.red{
    color:#dd4b39;
}
/***Blue Skin***/
.skin-blue .wrapper{
    background:#222d32;
}
.skin-blue .cd-main-header{
    background-color:#3c8dbc;
}
.skin-blue .cd-side-nav{
    background-color: #222d32;
}
.skin-blue .cd-side-nav > ul > li > a{
    color:#b8c7ce;
    border-bottom:1px solid rgba(0,0,0,0.18);
}
.skin-blue .cd-side-nav > ul > li > a:hover, .skin-blue .cd-side-nav > ul > li > a:active, .skin-blue .cd-side-nav > ul > li.active > a{
    border-left-color: #3c8dbc;
    color:#fff;
}
.skin-blue .cd-logo{
    background-color:#085F92;
}
.skin-blue .has-children ul .catbox::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #3c8dbc;
}
.skin-blue .cd-side-nav > ul > li:not(.action-btn):hover > a {
    background-color: #10232a;
    border-left-color: #3c8dbc;
    color:#fff;
  }
  .skin-blue .cd-side-nav > ul > li:not(.action-btn):hover > a > img{
     -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
 .skin-blue .has-children ul{
     background-color: #10232a;
 }
 .skin-blue .cd-side-nav a{
     color:#8aa4af;
 }
 .skin-blue .has-children ul h3{
     color:#fff;
     border-bottom:1px solid rgba(255,255,255,0.3);
 }
 .skin-blue .has-children ul a:hover{
    color:#fff;
 }
 .skin-blue .cd-top-nav .has-children{
     background-color:#085F92;
 }
 .skin-blue .cd-top-nav li:not(.has-children) a:hover{
     color:#fff;
 }
 .skin-blue .cd-top-nav .has-children ul{
     background-color:#3c8dbc;
 }
 .skin-blue .cd-top-nav .has-children ul li.userheader p{
    color: rgba(255,255,255,0.8);
 }
 
 
.skin-blue .navright .navbar-nav li > a{
    color:#fff;
}
.skin-blue .verticalnav {
    background-color: #222d32;
    border:0;
}
.skin-blue .verticalnav .navbar-brand{
    background:#367fa9;
    border-left:0;
}
.skin-blue navbar-menu .nav li.separator{
    background-color: #1a2226;
    color:#4b646f;
}

.skin-blue .verticalnav .navbar-brand{
    color:#fff !important;
    height:45px;
    padding:12px 8px;
    text-transform: capitalize;
}
.skin-blue .tabs-box>.nav-tabs>li.active {
    border-top-color: #3c8dbc;
}
.skin-blue .tabs-box>.nav-tabs>li.active>a, .skin-blue .tabs-box>.nav-tabs>li.active:hover>a{
    color:#3c8dbc;
}
.skin-blue .navbar-nav li .dropdown-menu{
    background:#2c3b41;
} 
.skin-blue .navbar-menu .nav li > a:hover, .skin-blue .nav .open > a:hover,
.skin-blue .navbar-menu .nav li > a:focus, .skin-blue .nav .open > a:focus,
.skin-blue .navbar-menu .nav li > a:active, .skin-blue .nav .open > a:active, .skin-blue .verticalnav .navbar-nav li.active>a {
    background-color:#1e282c;
    border-left:3px solid #3c8dbc;
    color:#fff;
    border-bottom-color: transparent;
}
.skin-blue .navbar-menu .nav li > a:hover span, .skin-blue .nav .open > a:hover span,
.skin-blue .navbar-menu .nav li > a:focus span, .skin-blue .nav .open > a:focus span,
.skin-blue .navbar-menu .nav li > a:active span, .skin-blue .nav .open > a:active span{
    color:#fff;
}
.skin-blue .navright .nav .dropdown > a:hover, .skin-blue .navright .nav .dropdown .open > a:hover,
.skin-blue .navright .nav .dropdown > a:focus, .skin-blue .navright .nav .dropdown .open > a:focus,
.skin-blue .navright .nav .dropdown > a:active, .skin-blue .navright .nav .dropdown .open > a:active, .skin-blue .navright .nav .dropdown .open > a{
    background: rgba(0,0,0,0.1);
    color: #f6f6f6;
    border-left:none;
}
.skin-blue .verticalnav .navbar-nav .open .dropdown-menu>li>a:hover, .skin-blue .verticalnav .navbar-nav .open .dropdown-menu>li>a:focus,
.skin-blue .verticalnav .navbar-nav .active a{
    color:#fff;
}
.skin-blue .verticalnav span, .skin-blue .verticalnav a {
    color: #b8c7ce;
}
.skin-blue .navtop .main-header{
    background: #3c8dbc;
}
.skin-blue .navright .usermenu .dropdown-menu li.userheader{
    background:#3c8dbc;
}
.skin-blue .horizontalnav .logo a{
    color:#fff;
}
.skin-blue .horizontalnav{
    background:#3c8dbc;
    border-top:5px solid #222d32;
}
.skin-blue .horizontalnav #topnav{
    background:#3c8dbc;
}
.skin-blue .horizontalnav #topnav > ul > li > a{
    color:#fff;
}
.skin-blue .horizontalnav #topnav > ul > li:hover, .skin-blue .horizontalnav #topnav ul li.active:hover, .skin-blue .horizontalnav #topnav ul li.active, .skin-blue .horizontalnav #topnav ul li.has-sub.active:hover{
    background: rgba(0,0,0,0.1);
}
.skin-blue .main-header .sidebar-toggle {
    color: #fff;
}
.skin-blue .main-header .sidebar-toggle:hover {
    background-color: #367fa9;
}
.skin-blue .main-header .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0,0,0,0.1);
}
/***Black Skin***/
.skin-black .wrapper{
    background:#222d32;
}
.skin-black .verticalnav .navbar-brand{
    background:#fff;
    border-left:0;
}
.skin-black .verticalnav {
    background-color: #222d32;
    border:0;
}
.skin-black .verticalnav .navbar-brand{
    color:#333 !important;
    height:45px;
    padding:12px 8px;
    border-right: 1px solid #eee;
}
.skin-black .navright .navbar-nav li > a{
    color:#333;
}
.skin-black navbar-menu .nav li.separator{
    background-color: #1a2226;
    color:#4b646f;
}
.skin-black .navbar-nav li .dropdown-menu{
    background:#2c3b41;
} 
.skin-black .tabs-box>.nav-tabs>li.active {
    border-top-color: #222d32;
}
.skin-black .tabs-box>.nav-tabs>li.active>a, .skin-black .tabs-box>.nav-tabs>li.active:hover>a{
    color:#222d32;
}
.skin-black .navbar-menu .nav li > a:hover, .skin-black .nav .open > a:hover,
.skin-black .navbar-menu .nav li > a:focus, .skin-black .nav .open > a:focus,
.skin-black .navbar-menu .nav li > a:active, .skin-black .nav .open > a:active, .skin-black .verticalnav .navbar-nav li.active>a {
    background-color:#1e282c;
    border-left:3px solid #fff;
    color:#fff;
    border-bottom-color: transparent;
}
.skin-black .navbar-menu .nav li > a:hover span, .skin-black .nav .open > a:hover span,
.skin-black .navbar-menu .nav li > a:focus span, .skin-black .nav .open > a:focus span,
.skin-black .navbar-menu .nav li > a:active span, .skin-black .nav .open > a:active span{
    color:#999;
}
.skin-black .navbar-menu .nav li > a:hover span, .skin-black .nav .open > a:hover span.label,
.skin-black .navbar-menu .nav li > a:focus span, .skin-black .nav .open > a:focus span.label,
.skin-black .navbar-menu .nav li > a:active span, .skin-black .nav .open > a:active span.label{
    color:#fff;
}
.skin-black .navright .nav .dropdown > a:hover, .skin-black .navright .nav .dropdown .open > a:hover,
.skin-black .navright .nav .dropdown > a:focus, .skin-black .navright .nav .dropdown .open > a:focus,
.skin-black .navright .nav .dropdown > a:active, .skin-black .navright .nav .dropdown .open > a:active, .skin-black .navright .nav .dropdown .open > a{
    background: #fff;
    color: #999;
    border-left:none;
}
.skin-black .verticalnav .navbar-nav .open .dropdown-menu>li>a:hover, .skin-black .verticalnav .navbar-nav .open .dropdown-menu>li>a:focus,
.skin-black .verticalnav .navbar-nav .active a{
    color:#fff;
}
.skin-black .verticalnav span, .skin-black .verticalnav a {
    color: #b8c7ce;
}
.skin-black .navtop .main-header{
    background: #fff;
}
.skin-black .navright .usermenu .dropdown-menu li.userheader{
    background:#222;
}
.skin-black .horizontalnav .logo a{
    color:#fff;
}
.skin-black .horizontalnav{
    background:#3c8dbc;
    border-top:5px solid #222d32;
}
.skin-black .horizontalnav #topnav{
    background:#3c8dbc;
}
.skin-black .horizontalnav #topnav > ul > li > a{
    color:#fff;
}
.skin-black .horizontalnav #topnav > ul > li:hover, .skin-black .horizontalnav #topnav ul li.active:hover, .skin-black .horizontalnav #topnav ul li.active, .skin-black .horizontalnav #topnav ul li.has-sub.active:hover{
    background: rgba(0,0,0,0.1);
}
.skin-black .main-header .sidebar-toggle {
    color: #333;
}
.skin-black .main-header .sidebar-toggle:hover {
    background-color: #367fa9;
}
.skin-black .main-header .sidebar-toggle:hover {
    color: #999;
    background: #fff;
}
/***Green Skin***/
.skin-green .wrapper{
    background:#222d32;
}
.skin-green .navright .navbar-nav li > a{
    color:#fff;
}
.skin-green .verticalnav {
    background-color: #222d32;
    border:0;
}
.skin-green .verticalnav .navbar-brand{
    background:#008748;
    border-left:0;
}
.skin-green navbar-menu .nav li.separator{
    background-color: #1a2226;
    color:#4b646f;
}
.skin-green .verticalnav .navbar-brand{
    color:#fff !important;
    height:45px;
    padding:12px 8px;
}
.skin-green .navbar-nav li .dropdown-menu{
    background:#2c3b41;
} 
.skin-green .tabs-box>.nav-tabs>li.active {
    border-top-color: #009e57;
}
.skin-green .tabs-box>.nav-tabs>li.active>a, .skin-green .tabs-box>.nav-tabs>li.active:hover>a{
    color:#009e57;
}
.skin-green .navbar-menu .nav li > a:hover, .skin-green .nav .open > a:hover,
.skin-green .navbar-menu .nav li > a:focus, .skin-green .nav .open > a:focus,
.skin-green .navbar-menu .nav li > a:active, .skin-green .nav .open > a:active, .skin-green .verticalnav .navbar-nav li.active>a {
    background-color:#1e282c;
    border-left:3px solid #009e57;
    color:#fff;
    border-bottom: 1px solid rgba(0,0,0,0.18);
}
.skin-green .navbar-menu .nav li > a:hover span, .skin-green .nav .open > a:hover span,
.skin-green .navbar-menu .nav li > a:focus span, .skin-green .nav .open > a:focus span,
.skin-green .navbar-menu .nav li > a:active span, .skin-green .nav .open > a:active span{
    color:#fff;
}

.skin-green .navright .nav .dropdown > a:hover, .skin-green .navright .nav .dropdown .open > a:hover,
.skin-green .navright .nav .dropdown > a:focus, .skin-green .navright .nav .dropdown .open > a:focus,
.skin-green .navright .nav .dropdown > a:active, .skin-green .navright .nav .dropdown .open > a:active, .skin-green .navright .nav .dropdown .open > a{
    background: rgba(0,0,0,0.1);
    color: #f6f6f6;
    border-left:none;
}
.skin-green .verticalnav .navbar-nav .open .dropdown-menu>li>a:hover, .skin-green .verticalnav .navbar-nav .open .dropdown-menu>li>a:focus,
.skin-green .verticalnav .navbar-nav .active a{
    color:#fff;
}
.skin-green .verticalnav span, .skin-green .verticalnav a {
    color: #b8c7ce;
}
.skin-green .navtop .main-header{
    background: #009e57;
}
.skin-green .navright .usermenu .dropdown-menu li.userheader{
    background:#009e57;
}
.skin-green .horizontalnav .logo a{
    color:#fff;
}
.skin-green .horizontalnav{
    background:#3c8dbc;
    border-top:5px solid #222d32;
}
.skin-green .horizontalnav #topnav{
    background:#3c8dbc;
}
.skin-green .horizontalnav #topnav > ul > li > a{
    color:#fff;
}
.skin-green .horizontalnav #topnav > ul > li:hover, .skin-green .horizontalnav #topnav ul li.active:hover, .skin-green .horizontalnav #topnav ul li.active, .skin-green .horizontalnav #topnav ul li.has-sub.active:hover{
    background: rgba(0,0,0,0.1);
}
.skin-green .main-header .sidebar-toggle {
    color: #fff;
}
.skin-green .main-header .sidebar-toggle:hover {
    background-color: #367fa9;
}
.skin-green .main-header .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0,0,0,0.1);
}
/**Badges**/
.badge-green{
    background:#00A14F;
}
.badge-blue{
    background:#0373DF;
}
.badge-purple{
    background:#605ca8;
}
.badge-yellow{
    background:#F7BC12;
}
.badge-red{
    background:#D52E32;
}
.badge-orange{
    background:#EC7900;
}
/***Buttons***/
.btn{
    border-radius: 3px;
    text-transform: capitalize;
    outline: none; 
    position: relative;
    color:#fff;
    margin-right:-1px;
}
.btn:hover{
    color:#fff;
}
.btn-default{
    color:#5e5e5e;
    border-color:#ddd;
    background:#f4f4f4;
}
.btn-default:hover, .btn-default:focus, .btn-default:active{
    background:#e7e7e7;
    border:1px solid #adadad;
    color:#444;  
}
.btn-xxs{
    font-size:10px;
    padding:0 5px;
}
.multiplebtn{
    height:15px;
    margin-bottom:3px;
}
.withdrawbtn{
    height:15px;
    margin-bottom:3px;
}
.table-top .del-all{
    color:#dd4b39;
    margin:7px 5px;
}
.table-top .multiselect, .table-top .multiselect:hover, .table-top .multiselect:active, .table-top .multiselect:focus{
    border-radius:0;
    float:right;
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1.5;
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff;
}
.table-top .multiselect-container{
    border-radius:0;
    right:0;
    left:auto;
    max-height:150px;
    overflow-y:auto;
    min-width:315px;
}
.table-top .multiselect-container > li > a {
    white-space: normal; 
}
.table-top .multiselect-container::-webkit-scrollbar {
    width: 3px;
} 
.table-top .multiselect-container::-webkit-scrollbar-track {
    border-radius: 0;
}
.multiselect-container>li>a>label{
    text-transform: capitalize;
    font-size:13px;
}
.table-top .multiselect-container::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #9b9b9b;
}
.table-top .multiselect .multiselect-selected-text{
    display:none;
}
.select2-container--default .select2-selection--single{
    border-radius:0;
   border: 1px solid #d5d5d5;
   text-transform: capitalize;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}
.select2-container--default .select2-selection--single:hover{
    border-color:#b5b5b5;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
    border-color:#b5b5b5;
}
.select2-dropdown{
    text-transform: capitalize;
    font-size:13px;
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 27px;
    color:#707070;
    font-size:13px;
}
.table-top .pull-right button.btn-sm{
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1.5;
    margin-right:0;
}
.input-group-btn .btn-sm{
    padding: 5px 10px;
    font-size: 10px;
    line-height: 1.5;
}
.btn:focus{
    outline:0;
}
.btn-lg{
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}
.btn-sm{
    padding: 3px 9px;
    font-size: 13px;
    line-height: 1.5;
}
.btn-xs{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
.disabled{    
    pointer-events: auto !important;
}
.btn-flat{
    border-radius: 0;
    box-shadow: none;
}
.btn-primary{
    background-color: #3c8dbc;
    border-color: #367fa9;
    color:#fff;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: #367fa9;
    border-color: #204d74;
}
.btn-success{
    background-color: #00a65a;
    border-color: #008d4c;
    color:#fff;
}
.btn-success:hover, .btn-success:active, .btn-success:focus{
    background-color: #008d4c;
    border-color: #00733F;
}
.btn-info{
    background-color: #00c0ef;
    border-color: #00acd6;
    color:#fff;
}
.btn-info:hover, .btn-info:active, .btn-info:focus{
    background-color: #00acd6;
    border-color: #007B98;
}
.btn-warning{
    background-color: #f39c12;
    border-color: #e08e0b;
    color:#fff;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus{
    background-color: #e08e0b;
    border-color: #B46E00;
}
.btn-danger{
    background-color: #dd4b39;
    border-color: #d73925;
    color:#fff;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus{
    background-color: #d73925;
    border-color: #AB2412;
}
/***Box***/
.btn-block{
    width:100%;
    display:block;
}
.box-default{
    border-top-color: #d2d6de;
}
/***Backgrounds & Colors***/
.color-default{
    color: #5e5e5e;
}
.bg-yellow{
    background: #FBBD08;
}
.color-blue{
    color:#00c0ef;
}
.color-green{
    color:#00a65a;
}
.color-red{
    color:#dd4b39;
}
.color-yellow{
    color: #FBBD08;
}
.btn.bg-yellow:hover{
    background: #ECB104;    
}
.bg-teal{
    background: #00B5AD;
    border-color:#039b94;
}
.btn.bg-teal:hover, .btn.bg-teal:active, .btn.bg-teal:focus{
    background-color:#039b94;
    border-color:#03847e;
    color:#fff;
}
.color-teal{
    color: #00B5AD;
}
.btn.bg-teal:hover{
    background: #009c95;    
}
.bg-violet{
    background: #7D55D4;
}
.color-violet{
    color: #7D55D4;
}
.btn.bg-violet:hover{
    background: #6435C9;    
}
.bg-brown{
    background: #A5673F;
    border-color:#884d27;
}
.color-brown{
    color: #A5673F;
}
.btn.bg-brown:hover,.btn.bg-brown:active, .btn.bg-brown:focus{
    background: #8f542d; 
    border-color:#784422;
    color:#fff;
}
.color-pink{
    color: #d81b60;
}
.btn.bg-pink:hover{
    background: #B70245;    
}
.bg-navy{
    background: #001f3f;
}
.color-navy{
    color: #001f3f;
}
.btn.bg-navy:hover{
    background: #00152B;    
}
/***Alerts***/
.alert{
    color:#fff;
    border-radius:0;
}
.alert .close{
    color: #000;
    opacity: .2;
}
.alert .close:hover {
    color: #000;
    opacity: 0.5;
}
.alert-default{
    background: #f4f4f4;
    border-color:#ddd;
    color:#5e5e5e;
}
.alert-info{
    background: #00c0ef;
    border-color:#00acd6;
}
.alert-success{
    background: #00a65a;
    border-color: #008d4c;
}
.alert-warning{
    background: #f39c12;
    border-color:#e08e0b;
}
.alert-danger{
    background: #dd4b39;
    border-color: #d73925;
}
/***Data Table***/
.hr.dotted, .hr-dotted {
    border-style: dotted;
}
.hr-double{
    height: 3px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-top-color: rgba(0,0,0,.11);
    border-bottom-color: rgba(0,0,0,.11);
    border-left:0;
    border-right:0;
}
.hr-single{
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-top-color: rgba(0,0,0,.11);
    border-bottom-color: rgba(0,0,0,.11);
    border-left:0;
    border-right:0;
    margin:0;
}
.hr-thin{
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-bottom-color: rgba(0,0,0,.05);
}
.hr{
    margin:8px 0 25px;
}
.dataTable button{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.table{
    margin-bottom:0;
}
.table thead th{
    text-align: center;
}
.table tbody td .btn{
    margin-bottom: 3px;
}
.table tbody td .btn:focus{
    color:#fff;
}
.dataTable>tbody>tr:hover button{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.table tbody td.stocktd{
    background-color: #d2d6de;
}
.table tbody td .stocktable{
    padding-top:15px;
}
.table-form td{
    text-transform: capitalize;
    border-top:0 !important;
    padding:4px 8px !important;
}
table.dataTable tfoot td{
    border-top:2px solid #ededed !important;
}
table.dataTable td a{
    cursor:pointer;
}
.dataTables_wrapper label{
    font-weight:400;
}
select.input-sm{
   padding: 2px 4px !important;
}
.multiselect-sm .selectize-input{
    padding:2px 4px;
    min-height:27px;
    font-size:12px;
    color: #707070;
    z-index:0;
    text-transform: capitalize;
}
.multiselect-sm .selectize-input > input{
    font-size:12px;
}
.multiselect-sm.selectize-control.multi .selectize-input [data-value]{
    background-color:#00b6e3;
    box-shadow: none;
    text-shadow: none;
    background-image:none;
    border-radius: 0;
}
.multiselect-sm.selectize-control.multi .selectize-input > div{
    border-color:#0091b5;
}
.multiselect-sm .selectize-dropdown .optgroup .optgroup-header{
    font-size:12.5px;
}
.multiselect-sm.selectize-control.plugin-remove_button [data-value] .remove{
    border-left:1px solid #0091b5;
}
.multiselect-sm .selectize-dropdown{
    font-size:12px;
    color: #707070;
}
form .form-group ul{
    list-style: none;
    padding-left:0;
    margin-bottom:0;
}
form .form-group ul li{
    display:inline-block;
}
.table tfoot td .summary .table-form td{
    border-top:0 !important;
    padding:5px 0 !important;
}
.table tfoot td .summary .table{
    margin-bottom:5px;
}
.addon-sm{
    padding:4px 10px;
}
.relative{
    position: relative;
}
table.dataTable thead th span.label-badge{
    position: absolute;
    top: -10px;
    right: 15px;
    text-align: center;
    font-size: 11px;
    padding: 3px 5px;
    line-height: 0.8;
    color: #fff;
    border-radius: 10px;
}
/*.customtable .table {
  overflow: hidden;
}

.customtable .table tr:hover {
  background-color: #e7f1fe;
}

.customtable .table td, .customtable .table th {
  position: relative;
}
body:not(.nohover) .customtable .table tbody tr:hover {
  background-color: #e7f1fe;
}
.customtable .table td:focus::after,
.customtable .table th:focus::after {
  background-color: #e7f1fe;
}
.customtable .table td:hover::after,
.customtable .table th:hover::after {
  background-color: #e7f1fe;
}
.customtable .table td:hover::after,
.customtable .table thead th:not(:empty):hover::after,
.customtable .table td:focus::after,
.customtable .table thead th:not(:empty):focus::after { 
  content: '';  
  height: 10000px;
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: 0;
}*/
.bootstrap-tagsinput{
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color:#d5d5d5;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
    border: 1px solid #ededed;
    /*text-transform: capitalize;*/
    vertical-align: middle;
}
table.dataTable thead th, table.dataTable thead td{
    border-bottom:2px solid #ededed !important;
    text-transform: capitalize;
}
.table-summary{
    margin:30px 0;
}
.summary td{
    font-size:15px;
}
.table-summary table thead th{
    background-color:#f4f9ff;
    text-align: center !important;
}
.table-summary table{
    text-align: center !important;
}
table.dataTable tbody td{
    padding:8px 18px !important;
}
table.dataTable.no-footer{
    border-bottom:1px solid #ededed !important;
}
.table-striped>tbody>tr:nth-child(odd){
    background-color: #f4f9ff;
}
.table-hover>tbody>tr:hover{
    background-color:#e7f1fe;
}
.table-pager{
    background-color:#e9f0f8;
}
.table-pager .pg-table{
    width:100%;
    border-bottom:1px solid #ddd9d9;
    background-color: #e9f0f8;
}
.table-pager .pg-table .search .pull-right button.btn-sm {
    padding: 5px 10px;
    height:27px;
    font-size: 10px;
    line-height: 1.5;
    margin-right: 0;
	z-index: 1;
}
.table-pager .pg-table .search .searchbar > input{
    min-width:223px;
}
table.dataTable.no-footer{
    width:100% !important;
}
.table-pager .pg-table .search .pull-right button i{
    background:transparent;
    border:0;
    width:auto;
    height:auto;
    margin-right:0;
    font-size:10px;
}
.table-pager .pg-table .search .multiselect, .table-pager .pg-table .search .multiselect:hover, .table-pager .pg-table .search .multiselect:active, .table-pager .pg-table .search .multiselect:focus {
	z-index: 1;
    border-radius: 0;
    float: right;
    padding: 11.5px 10px;
    font-size: 10px;
    line-height: 1.5;
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff;
}
.table-pager .pg-table .search .multiselect-container {
    border-radius: 0;
    right: 6px;
    left: auto;
    max-height: 150px;
    overflow-y: auto;
    min-width: 286px;
}
.table-pager .pg-table .search .multiselect .caret{
    display:block;
}
.table-pager .pg-table .search .multiselect:after {
    content: "";
}
.table-pager .pg-table td{
    vertical-align: middle;
    text-transform: none;
}
.table-pager .pg-table td .name{
    padding-top:5px;
    margin-right:5px;
}
.table-pager .pg-table td select.form-control{
    min-width:223px;
}
.table-pager .pg-table td.pg-data{
    padding:8px 12px;
}
.table-pager .multiselect-container{
    border-radius:0;
    max-height: 150px;
    overflow-y: auto;
    z-index:1;
}
.table-pager .multiselect-container::-webkit-scrollbar{
    width: 3px;
}
.table-pager .multiselect-container::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #9b9b9b;
}
.table-pager .multiselect-container::-webkit-scrollbar-track {
    border-radius: 0;
}
.table-pager .multiselect, .table-pager .multiselect:focus, .table-pager .multiselect:active{
    border-radius: 0;
    float: right;
    padding: 0;
    font-size: 10px;
    line-height: 1.5;
    background-color: transparent;
    border:0;
    color: #fff;
    box-shadow:none;
}
.table-pager i{
    font-size:1.2em;
}
.table-pager .pg-table button{
    margin-right:10px;
}
.table-pager .pages i{
    border-radius: 50px;
    border:1px solid #c4c4c4;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 1.25;
    margin-right:8px;
    background:#fff;
}
.table-pager .pages .search .input-group-btn{
    width:auto;
}
.table-pager .setting span.separator {
    height: 18px;
    border-left: 2px solid #c4c4c4;
    margin-right: 8px;
}
.table-pager .pages span.separator{
    height: 18px;
    border-left: 2px solid #c4c4c4;
    margin-right:15px;
    margin-left:8px;
}
.table-pager .pages .page-input{
    width: 24px;
    height: 13px;
    line-height: 16px;
    border-color:transparent;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    margin-right:8px;
    color:#5e5e5e;
}
.table-pager .pages .page-input:focus, .table-pager .pages .page-list:focus{
    outline:0;
}
.table-pager .pages .page-list{
    height:19px;
    line-height: 16px;
    border-color:transparent;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    display: inline-block;
    margin-right:8px;
    color:#5e5e5e;
}
.table-pager .pages .pagenum span{
    margin-right:8px;
}
.table-pager .multiselect:after{
     font-family: FontAwesome;
     content: "\f0ce";
     color:#6435C9;
     font-size:1.75em;
}
.table-pager .setting .btn-group.open .dropdown-toggle{
    box-shadow: none;
	z-index: 1;
}
.table-pager .setting .btn{
    background-color:transparent;
    padding:0;
    
}
.table-pager .setting .btn:active{
    outline:0;
    box-shadow: none;
}
.table-pager .btn .caret{
    display:none;
}
.table-pager .multiselect-selected-text{
    display:none;
}
.customtable .dataTables_wrapper .dataTables_length ,.customtable .dataTables_wrapper .dataTables_filter, .customtable .dataTables_wrapper .dataTables_paginate,.customtable .dataTables_wrapper .dataTables_info {
    display:none;
}
.dataTables_wrapper select{
    padding: 5px 10px;
    font-size:12px;
    border-color:#d2d6de;
}
.dataTables_wrapper .dataTables_filter input{
    padding:5px 8px;
    font-size:12px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #d2d6de;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: 1px solid #ddd !important;
    margin-left: 0 !important;
    border-radius:0 !important;
    padding:6px 12px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #337ab7 !important;
    border-color: #337ab7 !important;
    color:#fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: #23527c !important;
    background: #eee !important;
    border-color: #eee !important;
}
/***tooltip***/
.tooltip.in{
    opacity:1;
   filter:alpha(opacity=100);
}
.tooltip-inner{
    background-color:#333;
    color:#FFF;
    font-size:12px;
    text-shadow:1px 1px 0 rgba(42,45,50,.5);
    border-radius:0;
    padding:5px 9px;
}
.tooltip.top .tooltip-arrow{
    border-bottom-width:0;
    border-top-color:#333;
    -moz-border-top-colors:#333;
}
.tooltip.right .tooltip-arrow{
    border-left-width:0;
    border-right-color:#333;
    -moz-border-right-colors:#333;
}
.tooltip.left .tooltip-arrow{
    border-right-width:0;
    border-left-color:#333;
    -moz-border-left-colors:#333;
}
.tooltip.bottom .tooltip-arrow{
    border-top-width:0;
    border-bottom-color:#333;
    -moz-border-bottom-colors:#333;
}
.tooltip-error+.tooltip>.tooltip-inner,.tooltip.tooltip-error>.tooltip-inner{
    background-color:#c94d32;
    text-shadow:1px 1px 0 rgba(100,60,20,.3);
}
.tooltip-error+.tooltip.top .tooltip-arrow,.tooltip.tooltip-error.top .tooltip-arrow{
    border-top-color:#c94d32;
    -moz-border-top-colors:#c94d32;
}
.tooltip-error+.tooltip.right .tooltip-arrow,.tooltip.tooltip-error.right .tooltip-arrow{
    border-right-color:#c94d32;
    -moz-border-right-colors:#c94d32;
}
.tooltip-error+.tooltip.left .tooltip-arrow,.tooltip.tooltip-error.left .tooltip-arrow{
    border-left-color:#c94d32;
    -moz-border-left-colors:#c94d32;
}
.tooltip-error+.tooltip.bottom .tooltip-arrow,.tooltip.tooltip-error.bottom .tooltip-arrow{
    border-bottom-color:#c94d32;
    -moz-border-bottom-colors:#c94d32;
}
.tooltip-success+.tooltip>.tooltip-inner,.tooltip.tooltip-success>.tooltip-inner{
    background-color:#629b58;
    text-shadow:1px 1px 0 rgba(60,100,20,.3);
}
.tooltip-success+.tooltip.top .tooltip-arrow,.tooltip.tooltip-success.top .tooltip-arrow{
    border-top-color:#629b58;
    -moz-border-top-colors:#629b58;
}
.tooltip-success+.tooltip.right .tooltip-arrow,.tooltip.tooltip-success.right .tooltip-arrow{
    border-right-color:#629b58;
    -moz-border-right-colors:#629b58;
}
.tooltip-success+.tooltip.left .tooltip-arrow,.tooltip.tooltip-success.left .tooltip-arrow{
    border-left-color:#629b58;
    -moz-border-left-colors:#629b58;
}
.tooltip-success+.tooltip.bottom .tooltip-arrow,.tooltip.tooltip-success.bottom .tooltip-arrow{
    border-bottom-color:#629b58;
    -moz-border-bottom-colors:#629b58;
}
.tooltip-warning+.tooltip>.tooltip-inner,.tooltip.tooltip-warning>.tooltip-inner{
    background-color:#ed9421;
    text-shadow:1px 1px 0 rgba(100,90,10,.3);
}
.tooltip-warning+.tooltip.top .tooltip-arrow,.tooltip.tooltip-warning.top .tooltip-arrow{
    border-top-color:#ed9421;
    -moz-border-top-colors:#ed9421;
}
.tooltip-warning+.tooltip.right .tooltip-arrow,.tooltip.tooltip-warning.right .tooltip-arrow{
    border-right-color:#ed9421;
    -moz-border-right-colors:#ed9421;
}
.tooltip-warning+.tooltip.left .tooltip-arrow,.tooltip.tooltip-warning.left .tooltip-arrow{
    border-left-color:#ed9421;
    -moz-border-left-colors:#ed9421;
}
.tooltip-warning+.tooltip.bottom .tooltip-arrow,.tooltip.tooltip-warning.bottom .tooltip-arrow{
    border-bottom-color:#ed9421;
    -moz-border-bottom-colors:#ed9421;
}
.tooltip-info+.tooltip>.tooltip-inner,.tooltip.tooltip-info>.tooltip-inner{
    background-color:#4b89aa;
    text-shadow:1px 1px 0 rgba(40,50,100,.3);
}
.tooltip-info+.tooltip.top .tooltip-arrow,.tooltip.tooltip-info.top .tooltip-arrow{
    border-top-color:#4b89aa;
    -moz-border-top-colors:#4b89aa;
}
.tooltip-info+.tooltip.right .tooltip-arrow,.tooltip.tooltip-info.right .tooltip-arrow{
    border-right-color:#4b89aa;
    -moz-border-right-colors:#4b89aa;
}
.tooltip-info+.tooltip.left .tooltip-arrow,.tooltip.tooltip-info.left .tooltip-arrow{
    border-left-color:#4b89aa;
    -moz-border-left-colors:#4b89aa;
}
.tooltip-info+.tooltip.bottom .tooltip-arrow,.tooltip.tooltip-info.bottom .tooltip-arrow{
    border-bottom-color:#4b89aa;
    -moz-border-bottom-colors:#4b89aa;
}
/***Tabs***/
.tabs-box .nav-tabs{
    margin: 0;
    border-bottom-color: #ededed;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.tabs-box>.nav-tabs>li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 0;
    padding:0;
}
.tabs-box>.nav-tabs>li:first-of-type {
    margin-left: 0;
}
.tabs-box>.nav-tabs>li:first-of-type.active>a {
    border-left-color: #ededed;
}
.tabs-box>.nav-tabs>li.active>a {
/*    border-top-color: transparent;*/
    border-left-color: #ededed;
    border-right-color: #ededed;
}
.tabs-box>.nav-tabs>li.active>a, .tabs-box>.nav-tabs>li.active:hover>a {
    background-color: #fff;
}
.tabs-box>.nav-tabs>li>a, .tabs-box>.nav-tabs>li>a:hover {
    background: transparent;
    margin: 0;
}
.tabs-box>.nav-tabs>li>a {
    color: #444;
    border-radius: 0;
    text-transform: capitalize;
    font-size:1.07em;
}
.tabs-box>.nav-tabs>li:not(.active)>a:hover, .tabs-box>.nav-tabs>li:not(.active)>a:focus, .tabs-box>.nav-tabs>li:not(.active)>a:active {
    border-color: transparent;
}
.tabs-box>.nav-tabs>li>a:hover {
    color: #999;
}
.tabs-box .tab-content{
    padding:13px;
    border-left:1px solid #ededed;
    border-right:1px solid #ededed;
    border-bottom:1px solid #ededed;
}
/***Progress Bar***/
.progress{
    border-radius:1px;
    box-shadow: none;
    position: relative;
}
.progress .bar-status{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-transform: capitalize;
}
.progress-bar-primary{
    background-color:#3c8dbc;
}
.progress-bar-success{
    background-color: #00a65a;
}
.progress-sm{
    height:13px;
}
.progress-sm .progress-bar{
    line-height: 0.75em;  
}
.progress-sm .bar-status{
    font-size:0.8em;
    line-height: 1.3;
}
.progress-bar-warning{
    background-color: #f39c12;
}
.progress-bar-danger{
    background-color: #dd4b39;
}
/***Chart***/
.highcharts-credits, .highcharts-button{
    display:none;
}
.box-body .chart{
    height: 400px; 
    max-width: 100%; 
    margin: 0 auto;
}
/***Labels***/
.label{
    text-shadow: none;
    font-weight:400;
    font-size:82%;
    text-transform: capitalize;
}
.label.label-primary{
    background-color:#3c8dbc;
}
.label.label-info{
    background-color: #00c0ef;
}
.label.label-success{
    background-color: #00a65a ;
}
.label.label-warning{
    background-color: #f39c12;
}
.label.label-danger{
    background-color: #dd4b39;
}
.label-teal{
    background-color: #00B5AD;
}
.label-violet{
    background-color: #7D55D4;
}
.label-brown{
    background-color: #A5673F;
}
.label-pink{
    background-color: #d81b60;
}
.label.label-flat{
    border-radius: 0;
}
/***Popover***/
.popover, .popover-title{
    border-radius: 0;
}
.pop-primary+.popover .popover-title, .popover.pop-primary .popover-title {
    background-color: #e5edf8;
    border-bottom-color: #d1dff3;
    color:#3f79b6;
    text-shadow: none;
}
.pop-success+.popover .popover-title, .popover.pop-success .popover-title {
    background-color: #e8f2e3;
    border-bottom-color: #daead2;
    color:#629b58;
    text-shadow: none;
}
.pop-warning+.popover .popover-title, .popover.pop-warning .popover-title {
    background-color: #f4eee3;
    border-bottom-color: #ede3d1;
    color:#d67e31;
    text-shadow: none;
}
.pop-danger+.popover .popover-title, .popover.pop-danger .popover-title {
    background-color: #f7f0ef;
    border-bottom-color: #efe0de;
    color:#b75445;
    text-shadow: none;
}
.tooltip{
    z-index:9999;
}
/***Modals***/
.custom-modal .modal-content{
    border-radius: 0;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.2);
}
.custom-modal .modal-body{
    max-height:790px;
    overflow-y: auto;
    padding:20px 15px;
    position:relative;
}
.custom-modal .modal-body .table-pager .pg-table .search .searchbar > input{
    max-width:100px;
    min-width:70px;
}
.custom-modal .modal-body .table-pager .pg-table .search .multiselect-container{
    min-width:163px;
}
.modal-full .sel-color, .modal-full .sel-size{
    display:none;
    margin-top:10px;
}
.modal-title{
    color:#333;
}
.custom-modal .modal-body input[type='radio']{
   vertical-align: middle;
   margin-top:-2px;
}
.custom-modal .modal-body form .radiobtn{
    margin-top:7px;
}
.custom-modal .modal-body h5{
    font-size:15px;
}
.modal-header{
    background-color: #ebf0f7;
}
.modal-body .table thead th{
    color:#444;
}
.summaryfixed .summary{
    margin-bottom:20px;
}
.summaryfixed .hr{
    margin-top:0;
    margin-bottom:20px;
}
.custom-modal .modal-body > p{
    text-align: center;
}
.custom-modal .modal-header{
    border-bottom: 1px solid #e4e9ee;
    color:#5e5e5e;
    text-transform: capitalize;
}
.dangermodal .modal-dialog{
    margin:12% auto;
}
.dangermodal .modal-header{
    background-color:#f7efed;
}
.dangermodal .modal-body{
    padding:60px 15px;
}
.dangermodal .modal-body p{
    font-size:15px;
    font-weight:700;
}
.custom-modal .modal-xlg{
    width:70%;
}
.custom-modal .modal-footer{
    border-top: 1px solid #e4e9ee;
}
.infomodal .modal-footer{
    background-color: #f0fafc;
   
}
.primarymodal .modal-footer{
    background-color:#ebf0f7;
}
.successmodal .modal-footer{
    background-color:#ecf2e9;
}
.warningmodal .modal-footer{
    background-color:#f5f1e9;
}
.dangermodal .modal-footer{
    background-color:#f7efed;
}
.modal-open .wrapper {
    -webkit-filter: blur(6px);
    filter: blur(6px);
}
.modal-full{
    width:100%;
    margin:10px !important;
}
.modal-full .categories{
    border-right:2px solid #ededed;
}
.modal-full .colorsize{
    padding-top:35px;
    min-height:500px;
}
.modal-full .colorsize .cat-list{
    border-bottom:0 !important;
}
.modal-full .categories .panel-body >ul{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
}
.modal-full .categories .panel-body >ul li{
    text-transform: capitalize;
}
.modal-full .categories .panel-body > ul li .checkbox{
    margin:0;
}
.modal-full .dataTable tbody td .details ul{
    list-style:none;
    padding-left:0;
}
.modal-full .dataTable tbody td .details ul li{
    display:inline-block;
}
.modal-full .categories h3{
    text-transform: capitalize;
    font-size:17px;
    margin-top:0;
    padding-top:3px;
}
.modal-full .categories .cat-list{
    padding:17px 20px 30px 0;
    border-bottom: 2px solid #ededed;
}
.modal-full .categories .catlistbtn{
    padding:30px 20px 20px 0;
}
.modal-full .categories .cat-list .panel-group .panel{
    border-radius: 0;
    box-shadow: none;
}
.modal-full .categories .cat-list button.aprod{
    margin-top:30px;
}
.modal-full .categories .cat-list .panel-group{
    margin-bottom:0;
}
.modal-full .categories .cat-list .panel-group .panel-title{
    text-transform: capitalize;
    font-size:1.1em;
    color:#333;
}
.modal-full .categories .cat-list .panel-group .panel-heading{
    border-radius: 0;
    padding:6px 11px;
    background-color:#eaecef;
}
.modal-full .categories .cat-list .panel-group .panel-body ul{
    list-style: none;
    padding-left:10px;
}
.modal-full .categories .cat-list .panel-group .panel-body{
    max-height:300px;
    overflow-y:auto;
}
.modal-full .categories .cat-list .panel-group .panel-body ul li{
    padding-bottom:5px;
}
.modal-full .categories .cat-list .panel-group .panel-body::-webkit-scrollbar {
    width: 4px;
} 
.modal-full .categories .cat-list .panel-group .panel-body::-webkit-scrollbar-track {
    border-radius: 0;
}
.modal-full .categories .cat-list .panel-group .panel-body::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #9b9b9b;
}
.modal-full table tbody td .itemnum{
    margin-top:4px;
}
/**Modal Effect: Fade in and scale up**/
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}
.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}
.container {
	min-height: 100%;
}
.md-modal {
	position: fixed;
	top: 9%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.md-show {
	visibility: visible;
}
.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
}
.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}
.md-content {
	position: relative;
	border-radius: 0;
	margin: 0 auto;
        padding:0;
}
.md-content .md-header{
    padding:10px;
    background-color:rgba(0,0,0,0.15);
}
.md-content .md-header h4{
    margin-bottom: 0;
    text-transform: capitalize;
}
.md-content .md-body{
    padding:10px;
}
.md-content .md-close{
    font-size:1em;
}
.md-content > div p {
	margin: 0;
	padding: 0 0 12px;
}
.md-content button {
	display: block;
	font-size: 0.8em;
        margin:0 auto;
}
.md-content .alert-close{
    font-size:21px;
}
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
/***Form Input***/
select.form-control, textarea.form-control, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color] {
    border-radius: 0!important;
    color: #707070;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    padding: 5px 4px 6px;
    font-size: 13px;
    font-family: inherit;
    z-index:0 !important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
}
.form-width{
    width:250px;
}
.form-width2{
    width:160px;
}
.form-width3{
    width:175px;
}
.inputwidth{
    width:80px;
}
.inputwidth2{
    width:110px;
}
.inputshow .inputwidth2{
    width:100px !important;
}
form label{
    font-weight:500;
}
select.form-control{
    text-transform: capitalize;
}
select.form-control, .form-group select, .form-group textarea, .form-group input[type=text], .form-group input[type=password], .form-group input[type=datetime], .form-group input[type=datetime-local], .form-group input[type=date], .form-group input[type=month], .form-group input[type=time], .form-group input[type=week], .form-group input[type=number], .form-group input[type=email], .form-group input[type=url], .form-group input[type=search], .form-group input[type=tel], .form-group input[type=color] {
    background: #FFF;
    /*text-transform: capitalize;*/
}
textarea:hover, input[type=text]:hover, input[type=password]:hover, input[type=datetime]:hover, input[type=datetime-local]:hover, input[type=date]:hover, input[type=month]:hover, input[type=time]:hover, input[type=week]:hover, input[type=number]:hover, input[type=email]:hover, input[type=url]:hover, input[type=search]:hover, input[type=tel]:hover, input[type=color]:hover, .bootstrap-tagsinput:hover {
    border-color: #b5b5b5;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f5f5f5  !important;
    opacity: 1;
}
.form-control[disabled]:hover, .form-control[readonly]:hover, fieldset[disabled] .form-control:hover{
    border-color: #d5d5d5;
}
.input-sm{
    font-size:12px !important;
    height:27px !important;
    line-height: 1;
}
.input-lg{
    font-size: 18px !important;
}
form label{
    text-transform: capitalize;
}
/***Checkbox & Radio Button***/
.input[type=checkbox].checkboxstyle, input[type=radio].radiostyle{
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.radio label, .checkbox label{
    padding-left:0;
}
.radio, .checkbox{
    margin:3px 0;
}
input[type=checkbox].checkboxstyle:checked, input[type=radio].radiostyle:checked, input[type=checkbox].checkboxstyle:focus, input[type=radio].radiostyle:focus {
    outline: 0!important;
}
input[type=checkbox].checkboxstyle, label input[type=radio].radiostyle {
    z-index: -100!important;
    width: 1px!important;
    height: 1px!important;
    clip: rect(1px,1px,1px,1px);
    position: absolute;
}
input[type=checkbox].checkboxstyle+.lbl, input[type=radio].radiostyle+.lbl {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 20px;
    min-height: 18px;
    min-width: 18px;
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
}
input[type=checkbox].checkboxstyle:checked+.lbl::before, input[type=radio].radiostyle:checked+.lbl::before {
    display: inline-block;
    content: '\f00c';
    background-color: #F5F8FC;
    border-color: #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 -15px 10px -12px rgba(0,0,0,.05),inset 15px 10px -12px rgba(255,255,255,.1);
}
input[type=checkbox].checkboxstyle+.lbl::before, input[type=radio].radiostyle+.lbl::before {
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: 400;
    font-size: 12px;
    color: #3c8dbc;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 1px;
    position: relative;
    top: -1px;
}
input[type=checkbox][disabled]+.lbl::before, input[type=radio][disabled].radiostyle+.lbl::before{
    background-color: #DDD!important;
    border-color: #CCC!important;
    box-shadow: none!important;
    color: #BBB;
}
input[type=radio].radiostyle+.lbl::before{
    border-radius: 100%;
    font-size: 10px;
    font-family: FontAwesome;
    text-shadow: 0 0 1px #32a3ce;
    line-height: 15px;
    height: 17px;
    min-width: 17px;
}
input[type=radio].radiostyle.rad-sm+.lbl::before {
    border-radius: 100%;
    font-size: 7px;
    font-family: FontAwesome;
    text-shadow: 0 0 1px #32a3ce;
    line-height: 11px;
    height: 13px;
    min-width: 13px;
}
input[type=radio].radiostyle:checked+.lbl::before {
    content: "\f111";
}
input[type=checkbox].checkboxstyle:hover+.lbl::before, input[type=radio].radiostyle:hover+.lbl::before, input[type=checkbox].checkboxstyle+.lbl:hover::before, input[type=radio].radiostyle+.lbl:hover::before{
    border-color: #66afe9;
}
input[type=checkbox].chk-sm+.lbl::before, input[type=radio].rad-sm+.lbl::before{
    cursor: pointer;
    font-family: fontAwesome;
    font-weight: 400;
    font-size: 10px;
    color: #3c8dbc;
    content: "\a0";
    background-color: #FAFAFA;
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border-radius: 0;
    display: inline-block;
    text-align: center;
    height: 13px;
    line-height: 11px;
    min-width: 13px;
    margin-right: 1px;
    position: relative;
    top: -1px;
}
/**Switch**/
.switch{
    padding-left:20px;
}
.switch .toggle.btn{
    border-radius:0;
    padding:3px 6px;
    max-width: 56px;
    min-height:24px !important;
    height:24px !important;
}
.switch.switch-sm .toggle.btn{
    border-radius:0;
    padding:3px 6px;
    min-width: 45px;
    max-width: 45px;
    min-height:18px !important;
    height:18px !important;
}
.switch .toggle .btn{
    font-size:12px;
    text-transform: uppercase;
    line-height:1.1;
    color:#fff;
}
.switch.switch-sm .toggle .btn{
    font-size:11px;
    text-transform: uppercase;
    line-height:1;
    color:#fff;
}
.switch.switch-sm .toggle .toggle-handle{
   width:25px; 
   margin-top:-8px;
   height:17px;
}
.switch.round.switch-sm .toggle .toggle-handle{
    width:30px;
    height:16px;
    margin-top:-7px;
}
.switch .toggle-on.btn{
    padding:4px 28px 4px 10px;
}
.switch.switchcustom .toggle-on.btn{
    padding: 4px 28px 4px 5px;
}
.switch.switchcustom .toggle.btn-info{
    border:1px solid #8b9aa3;
}
.switch.switchcustom .toggle.btn{
    max-width:180px;
    min-width:140px;
}
.switch.switchcustom .toggle-off.btn{
    background:#00a65a;
    border:1px solid #00a65a !important;
}
.switch.switchcustom .toggle .toggle-handle{
    width:45px;
}
.switch.switch-sm .toggle-on.btn{
    padding:2px 18px 2px 5px;
}
.switch .btn-primary:hover{
    border-color: #3c8dbc;
    background-color:#3c8dbc;
}
.switch .btn-info:hover{
    border-color: #00acd6;
    background-color:#00c0ef;
}
.switch .btn-warning:hover{
    border-color: #e08e0b;
    background-color:#f39c12;
}
.switch .btn-danger:hover{
    border-color: #d73925;
    background-color:#dd4b39;
}
.switch .btn-default{
    border-color: #8b9aa3 !important;
}
.switch .toggle-off.btn{
    padding:4px 10px 4px 28px;
    background: #8b9aa3;
    border:1px solid #8b9aa3;
}
.switch.switch-sm .toggle-off.btn{
   padding:2px 5px 2px 18px;
   line-height: 0.9;
}
.switch .active.toggle-off,.switch toggle-on{
    box-shadow: none;
}
.switch .btn-default:hover{
    border-color:#8b9aa3;
}
.switch .toggle .toggle-handle{
    border-radius:0;
    width:40px;
    background: #fff;
    border:0;
}
.switch .toggle .toggle-handle:hover{
    box-shadow: none;
    border:0;
}
.switch.round .toggle.btn, .switch.round .toggle.round,.switch.round .toggle-on.round,.switch.round .toggle-off.round {
    border-radius: 20px;
}
.toggle.round .toggle-handle {
    border-radius: 20px; 
}
/***Date Picker & Time Picker***/
.input-group-addon{
    border-radius: 0;
}
.datepicker th.datepicker-switch, .datepicker th.prev, .datepicker th.next{
    border: 1px solid #3c8dbc;
    background: #3c8dbc;
    color: #fff;
    border-radius:0;
}
.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover:hover{
    background-color:#8c9da7;
    border-color:#8c9da7;
    color:#fff;
}
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover{
    background:#1E77AB;
}
.datepicker table tr td, .datepicker table tr th{
    border-radius:0;
}
.datepicker tfoot tr th:hover{
    color:#fff;
}
.datepicker.dropdown-menu{
    border-radius:0;
}
.datepicker table thead tr th{
    color:#3c8dbc;
}
.datepicker table tbody tr td{
    color:#5e5e5e;
}
.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover{
    background:#3c8dbc !important;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
    display: inline-block;
    text-align: center;
}
.bootstrap-timepicker-widget.dropdown-menu.open input[type=text]{
    text-align: center;
}
.timepicker .input-group-addon{
    cursor:pointer;
    font-size:12px;
}
.bootstrap-timepicker-widget table td {
    text-align: center;
    height: 30px;
    margin: 0;
    padding: 6px;
}
.bootstrap-timepicker-widget table td input {
    width: 30px;
    margin: 0;
    text-align: center;
}
.bootstrap-timepicker-widget.timepicker-orient-top:before {
    top: -7px;
}
.bootstrap-timepicker-widget.timepicker-orient-left:before {
    left: 6px;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999;
}
.bootstrap-timepicker-widget.timepicker-orient-top:after {
    top: -6px;
}
.bootstrap-timepicker-widget.timepicker-orient-left:after {
    left: 7px;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #ffffff;
}
/***Login***/
.login-page {
  width: 360px;
  padding: 12% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ecf0f5;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-color:rgba(0,0,0,0.06);
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3c8dbc;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #367fa9;
}
.form .language {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .language a {
  color: #888;
  text-decoration: none;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3s ease;
}
.form .language a:hover{
    color:#333;
}
.login-page .input-group-addon{
    border-color:rgba(0,0,0,0.06);
    background-color:#3c8dbc;
    color:#fff;
}
.login-page .input-group{
    margin-bottom:15px;
}
.loginbg{
    background:url('../images/bg-1.jpg');
}
/*****************
*****Print*******
*****************/
.print-wrapper{
    font-family: 'Open Sans', sans-serif;
    color:#000;
}
.print-wrapper .header-title {
    text-align: center;
}
.print-wrapper .header-title h1{
    font-size:1.8em;
    font-weight: 700;
    margin-bottom:7px;
}
.print-wrapper .header-title h3{
    font-weight: 700;
    font-size:1.35em;
   margin-top:0;
   margin-bottom:7px;
}
.print-wrapper .header-title p, .print-wrapper .printcontact p {
    text-align: center;
}
.print-wrapper .header-title p{
    max-width:45%;
    margin:0 auto 7px;
}
.print-wrapper .printcontact p.pad-left {
    padding-left: 60%;
    text-align: left;
}
.print-wrapper .printcontact p.pad-right {
    padding-right: 60%;
    text-align: right;
}
.print-wrapper .print-date{
    margin-top:20px;
}
.print-wrapper .print-date ul{
    list-style:none;
    padding-left:0;
}
.print-wrapper .print-date ul li{
    text-transform: capitalize;
}
.print-wrapper .print-date ul li p{
    margin-bottom:5px;
}
.print-wrapper .print-header{
    margin-bottom:20px;
}
.print-wrapper .tableform{
    text-transform: capitalize;
}
.print-wrapper .print-table .table{
    margin-bottom:20px;
}
.print-wrapper .print-table .table td.prodname{
    background-color:#e3e3e3;
    -webkit-print-color-adjust: exact;
}
.print-wrapper .total-summary tbody td{
    border-top:0;
    padding:3px 0;
}
.print-wrapper .table-bordered>thead>tr>th,.print-wrapper .table-bordered>tbody>tr>th,.print-wrapper .table-bordered>tfoot>tr>th, .print-wrapper .table-bordered>thead>tr>td,.print-wrapper .table-bordered>tbody>tr>td,.print-wrapper .table-bordered>tfoot>tr>td{
    border:1px solid #919191;
}
.print-wrapper .table>thead:first-child>tr:first-child>th{
    border-top:1px solid #919191;
}

.margin-top10{
    margin-top: 10px;
}
/*****************/
/***Responsive***/
/*****************/   
@media (max-width:1366px){
    .cd-side-nav {
        min-height:115%;
    }
}
@media(max-width:1329px){
    .box-body .table-pager .pg-table .search .searchbar > input{
        min-width:190px;
    }
    .custom-modal .table-pager .pg-table .search .searchbar > input{
        min-width:50px;
        max-width:100px;
    }
    .custom-modal .table-pager .pg-table{
      min-width:900px;
    }
    .custom-modal .table-pager{
        overflow-x:scroll;
    }
}
@media(max-width:1280px){
     .box-body .table-pager .pg-table .search .searchbar > input{
         min-width:50px;
        max-width:130px;
    }
    .box-body .table-pager .pg-table{
        min-width:1131px;
        overflow-x: auto;
    }
    .customtable .table.dataTable {
    min-width: 1131px;
    overflow-x: auto;
    }
    .customtable {
    overflow-x: auto;
}
}
@media(max-width:1237px){
     .box-body .table-pager .pg-table .search .searchbar > input{
         min-width:50px;
        max-width:150px;
    }
}
@media (max-width:1280px){
    .custom-modal .modal-xlg{
        width:90%;
    }
    .inputwidth{
        width:50px;
    }
}
@media (max-width:1024px){
     .custom-modal .modal-xlg{
        width:100%;
     }
     .has-children > ul.report-menu {
    min-width: 900px;
    }
    .has-children ul .catbox a{
        padding:0;
    }
    .form-width{
        width:100%;
    }
  
    .table-pager .pg-data{
        width:0%;
    }
}
@media (max-width:991px){
    .content-wrapper2{
        padding-left:0;
        padding-right: 0;
    } 
    .has-children > ul.info-menu{
        min-width:270px;
    }
}
@media (max-width:767px){
    .cd-main-header .toggle-side{
        display:none;
    }
    .dataTable button{
        filter: grayscale(0);
    }
    .cd-top-nav .has-children.notif, .cd-top-nav .has-children.language{
        background-color: transparent !important;
    }
    .cd-top-nav span.label{
       left: 41px;
        right: auto;
        padding: 2px 3px;
    }
    .skin-blue .cd-top-nav .has-children{
      background-color:transparent;
  }
}
@media (max-width:768px){
    /*Print*/
    .print-wrapper .header-title p{
        max-width:70%;
    }
    .print-wrapper .printcontact p.pad-left{
        padding-left:36%;
    }
    .print-wrapper .printcontact p.pad-right{
        padding-right:36%;
    }
    /**Table**/
    .table-pager .pages i, .table-pager .pg-table button, .table-pager .pages .pagenum span, .table-pager .pages .page-input, .table-pager .pages span.separator, .table-pager .pages .page-list{
        margin-right:5px;
    }
    /***Skin Blue***/
    .skin-blue .verticalnav .navbar-header{
        background:#367fa9;
    }
    .skin-blue .verticalnav .navright .navbar-nav>li>a>span{
        color:#fff;
    }
    /***Skin Black***/ 
    .skin-black .verticalnav .navright .navbar-nav>li>a>span.label{
        color:#fff;
    }
    .skin-black .verticalnav .navbar-toggle .icon-bar, .skin-black .verticalnav .navbar-toggle .icon-bar + .icon-bar{
        background-color: #fff;
    }
    .skin-black .verticalnav .navbar-brand{
        background-color: #222d32;
        color:#fff !important;
        border-right:0;
    }
    .skin-black .verticalnav .navbar-toggle{
        background-color:#222d32;
    }
    .skin-black .navright .navbar-nav li > a{
        color:#fff;
    }
    .skin-black .navright .nav .dropdown > a:hover, .skin-black .navright .nav .dropdown .open > a:hover, .skin-black .navright .nav .dropdown > a:focus, .skin-black .navright .nav .dropdown .open > a:focus, .skin-black .navright .nav .dropdown > a:active, .skin-black .navright .nav .dropdown .open > a:active, .skin-black .navright .nav .dropdown .open > a {
        background: #fff;
        color: #999;
        border-left: none;
    }
    .skin-black .navright .navbar-nav li > a span.user:hover, .skin-black .navright .navbar-nav li > a span.user:focus, .skin-black .navright .navbar-nav li > a span.user:active{
        color:#999;
    }
    /***Skin Green***/
    .skin-green .navbar-header, .skin-green .verticalnav .navbar-brand{
        background-color:#008748;
    }
    .skin-green .verticalnav .navbar-toggle{
        background: #009e57;
    }
    /***Content***/
    .content-wrapper, .navtop .main-header{
        margin-left:0;
    }
    .cd-side-nav {
    min-height: 140%;
}
}
@media (max-width:767px){
    .cd-main-content .content-wrapper {
        padding: 50px 0;
    }
    .cd-side-nav > ul{
        padding:0;
    }
    .cd-side-nav > ul > li > a >span{
        display:inline-block;
        margin-left:10px;
    }
    .cd-side-nav > ul{
        margin-bottom:0;
    }
    .has-children ul.info-menu .catbox{
        padding:0;
    }
    .has-children ul{   
        padding-top:1px;
        padding-bottom:10px;
    }
    .has-children > ul{
        padding-right:18px;
    }
    .cd-logo{
        margin:0;
        height:45px;
    }
    .cd-logo img{
        margin-top:2px;
    }
    .cd-top-nav .has-children.language ul li{
        padding:7px 20px 7px 0;
    }
    .cd-top-nav .has-children.language ul li a span img{
        display:block;
    }
    .cd-top-nav li.language > ul{
        padding-bottom:0;
    }
    .cd-top-nav .has-children ul li.userheader img{
        display:block;
    }
    .cd-top-nav .has-children ul li.userfooter{
        background-color:transparent;
    }
    .cd-top-nav .has-children ul li.userfooter button{
        display:block;
        margin:0 auto;
    }
}
@media (max-width:640px){
    .table-top .searchbar{
        max-width:200px;
    }
    .custom-modal .cat-list .no-padding{
        padding-left:12px;
        padding-right:12px;
    }
    .content{
        padding:10px 0;
    }
    .cd-nav-trigger{
        margin-right:1.2em;
    }
    .cd-top-nav span.label{
        left:19px;
    }
    .cd-top-nav li.notif > a{
        padding:1em 1.1em 1em 1.1em !important;
    }
    .cd-side-nav .cd-label, .cd-side-nav a{
        
        padding:1em 1.1em 1em 1.1em;
    }
    .cd-top-nav .has-children.notif ul{
        padding-left:0;
    }
    .has-children > a::after{
        right:1.8em;
    }
    .cd-top-nav li.language > a, .cd-top-nav li.account > a{
        padding:1em 1.1em 1em 1.1em !important;
    }
    .has-children > ul{
        padding-right:2px;
        padding-left:20px;
    }
    .has-children > ul.info-menu{
        padding-right:12px;
        padding-left:30px;
    }
}
@media (max-width:540px){
    .table-responsive{
        overflow-x: scroll;
        border:0;
    }
}
@media (max-width:480px){
    .has-children > ul{
        padding-left:0;
        padding-right:3px;
    }
    .has-children ul .catbox{
        padding: 0 1.5em 1.5em;
    }
    .has-children > ul.info-menu{
        padding-right:10px;
        padding-left:10px;
    }
    .cd-top-nav .has-children.language ul li a {
        padding: 3px 17px !important;
    }
    /***Skin Blue***/
    .skin-blue .verticalnav .navbar-brand{
        display:block;
    }
}
@media (max-width:320px){
    .modal-full .modal-footer .btn{
        float:none !important;
        width:100%;
        margin-left:0;
        margin-bottom:5px;
    }
}
@media print{
    .print-wrapper .print-table .table td.prodname{
    background-color:#e3e3e3;
    -webkit-print-color-adjust: exact;
}
}

.customtable .table img, .modal-body img {
    width: 250px;
}

.table td:last-child {
    text-align: center;
}

.modal_3 .modal-body{
    padding: 50px;
}

.fa-td{
    font-size: 3em;
}