


*{
    margin:0;
    padding: 0;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.no-padding-left{
    padding-left: 0;
}

.no-padding-right{
    padding-right: 0;
}

.no-margin-left{
    margin-left: 0;
}

.no-margin-right{
    margin-right: 0;
}

.no-border{
    border: none;
}

.fullwidth{
    width: 100%;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.margin-top50{
    margin-top: 50px;
}

.margin-top40{
    margin-top: 40px;
}

.margin-top30{
    margin-top: 30px;
}

.margin-top20{
    margin-top: 20px;
}

.margin-top10{
    margin-top: 10px;
}


/*** ABOUT US ***/

.about-wrapper .carousel-inner .item img{
    object-fit: cover;
    height: 350px;
    width: 100%;
}

/*** CONTACT US ***/
#map iframe{
    height: 300px;
    width: 100%;
}

.contact-form input{
    margin-bottom: 10px;
}

/*** PRODUCT PAGE ***/

.product-container{
    padding: 15px;
    border: 1px solid #e0e0e0;
    margin: 12px 0;
        border-radius: 4px;
}

.product-container .product-img{
    text-align: center;
}

.product-details p {
    font-size: .9em;
}

.product-name, .product-price{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
}

.product-price{
    float: right;
}

.product-details .row:first-child{
    border-bottom: 1px solid #e0e0e0;
    margin: 0 2px 10px;
}

.product-container .col-md-7 {
    padding-right: 0;
    padding-left: 0;
}

.product-container .col-md-5 {
    padding-left: 0;
}

/*** PRODUCT PAGE CATEGORIES ***/

.sidebar-content ul li{
        list-style: none;
        margin: 10px 0;
}

.sidebar-content ul li.company{
        list-style: none;
        margin: 20px 0 10px;
}

.color-box {
    width: 15px;
    height: 15px;
    border: 1px solid #d6d6d6;
    display: inline-block;
}

.white {
    background: #fdfdfd;
}

.black {
    background: #000;
}

.brown {
    background: #73481d;
}

.gray {
    background: #8c8c8c;
}

.sidebar-content label{
    font-weight: normal;
    margin-right:5px;
    display: block; 
}

/***Product Detail ***/

.flexslider{
    margin-bottom: 0;
}

.product-information{
    margin-top:100px;
}

.zoom {
    display:inline-block;
    position: relative;
    cursor: zoom-in;
}

#slider .flex-direction-nav{
    display: none;
}